<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">

<head>
  <title>
  </title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style type="text/css">
        @font-face {
            font-family: 'SF Pro Text';
            font-style: normal;
            font-weight: 300;
            src: url('https://raw.githubusercontent.com/blaisck/sfwin/master/SFPro/TrueType/SFProText-Light.ttf');
        }
        @font-face {
            font-family: 'SF Pro Text';
            font-style: normal;
            font-weight: 400;
            src: url('https://raw.githubusercontent.com/blaisck/sfwin/master/SFPro/TrueType/SFProText-Regular.ttf');
        }
        @font-face {
            font-family: 'SF Pro Text';
            font-style: normal;
            font-weight: 500;
            src: url('https://raw.githubusercontent.com/blaisck/sfwin/master/SFPro/TrueType/SFProText-Medium.ttf');
        }
        @font-face {
            font-family: 'SF Pro Text';
            font-style: normal;
            font-weight: 600;
            src: url('https://raw.githubusercontent.com/blaisck/sfwin/master/SFPro/TrueType/SFProText-SemiBold.ttf');
        }
        @font-face {
            font-family: 'SF Pro Text';
            font-style: normal;
            font-weight: 700;
            src: url('https://raw.githubusercontent.com/blaisck/sfwin/master/SFPro/TrueType/SFProText-Bold.ttf');
        }
        @font-face {
            font-family: 'SF Pro Text';
            font-style: normal;
            font-weight: 900;
            src: url('https://raw.githubusercontent.com/blaisck/sfwin/master/SFPro/TrueType/SFProText-Heavy.ttf');
        }

        .header-text1 {
        font-family: 'SF Pro Text';
        font-weight: 700;
        font-size: 30px;
        line-height: 40px;
        letter-spacing: 0.03em; /* 3% converted to em */
        margin-bottom: 0;
        }

        .header-text2 {
        font-family: 'SF Pro Text';
        font-weight: 600;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 0.03em; /* 3% converted to em */
        margin-bottom: 0;
        }

        .header-text3 {
        font-family: 'SF Pro Text';
        font-weight: 600;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 0.03em; /* 3% converted to em */
        margin-bottom: 0;
        }

        .header-text4 {
        font-family: 'SF Pro Text';
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.03em; /* 2% converted to em */
        margin-bottom: 0;
        }

        .header-text5 {
        font-family: 'SF Pro Text';
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 0.03em; /* 3% converted to em */
        margin-bottom: 0;
        }

        .subtitle-text1 {
        font-family: 'SF Pro Text';
        font-size: 18px;
        line-height: 24px;
        font-weight: 500;
        letter-spacing: 0.03em; /* 3% converted to em */
        margin-bottom: 0;
        }

        .subtitle-text2 {
        font-family: 'SF Pro Text';
        font-size: 16px;
        line-height: 24px;
        font-weight: 500;
        letter-spacing: 0.02em; /* 3% converted to em */
        margin-bottom: 0;
        }

        .body-text1 {
        font-family: 'SF Pro Text';
        font-size: 16px;
        line-height: 1.5rem;
        font-weight: 400;
        letter-spacing: 0.02em; /* 2% converted to em */
        margin-bottom: 0;
        }

        .body-text2 {
        font-family: 'SF Pro Text';
        font-size: 14px;
        line-height: 1.25rem;
        font-weight: 400;
        letter-spacing: 0.02em; /* 2% converted to em */
        margin-bottom: 0;
        }

        .body-text3 {
        font-family: 'SF Pro Text';
        font-size: 0.75rem;
        line-height: 1.125rem;
        font-weight: 400;
        letter-spacing: 0.02em; /* 2% converted to em */
        margin-bottom: 0;
        }

        .caption-text {
        font-family: 'SF Pro Text';
        font-size: 0.75rem;
        line-height: 1rem;
        font-weight: 500;
        letter-spacing: 0.02em; /* 2% converted to em */
        margin-bottom: 0;
        }

        .primary-cta-text {
        font-family: 'SF Pro Text';
        font-size: 1.125rem;
        line-height: 1.5rem;
        font-weight: 700;
        letter-spacing: 0.03em; /* 3% converted to em */
        margin-bottom: 0;
        }

        .secondary-cta-text {
        font-family: 'SF Pro Text';
        font-size: 1rem;
        line-height: 1.25rem;
        font-weight: 700;
        letter-spacing: 0.03em; /* 3% converted to em */
        margin-bottom: 0;
        }
        body{
            background-color: #F9FAFB;
            padding: 24px;
            font-family: 'SF Pro Text', sans-serif;
        }
        .main-container{
            max-width: 872px;
            margin: 0 auto;
            background-color: #FFF;
            padding: 10px 14px;
            display: flex;
            flex-direction: column;
            gap: 16px;
            border-radius: 8px;
        }
        p,span,h1,h2,h3,h4,h5,h6 {
            margin: 0;
        }
        .gray-bg-box {
            background: #F9FAFB;
            border-radius: 28px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .score-meta {
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            border-top: 2px solid #FFFFFF;
        }
    </style>
  <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700" rel="stylesheet" type="text/css">
  <style type="text/css">
    @import url(https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700);
  </style>
</head>

<body style="word-spacing:normal;">
  <header style="margin:0 auto; text-align:center; font-size: 0.75rem; margin: 0.5rem 0;">This is MindPeers India Private Limited Copyright {{currentYear}}. Please do not circulate or modify.</header>
  <div style="margin:10px auto;max-width:872px;display:flex; gap:1rem; justify-content: space-between;align-items:center;">
    <img src={{constants.logoUrl}} alt="logo" style="height: 1.5rem; width: auto; display: block;" />
    <div style="background: #FFFFFF;border-radius: 8px;padding: 8px 12px;color:#090A0B99;">
        <p style="margin-bottom: 8px;" class="caption-text">Name: {{user_name}}</p>
        <p class="caption-text">Date: {{date}}</p>
    </div>
  </div>
  <main class="main-container">
    <h1 style="width:100%; text-align:center; margin-bottom: 14px;" class="header-text5">
        Art Analysis
    </h1>
    <div class="gray-bg-box" style="padding: 10px 16px;">
        <p style="width:100%; text-align:center;" class="body-text2">{{prompt}}</p>
    </div>
    <div class="gray-bg-box" style="overflow:hidden;">
        <img src={{image.url}} alt="art" style="max-height:15rem; max-width:100%; width:auto; display:block; margin:0 auto; object-fit:contain;" />
    </div>
    <div style="display:flex; gap:1rem; width: 100%; justify-content: space-between; align-items: center;margin: 16px 0;">
        <h2 class="header-text5">
            Executive Function Score
        </h2>
        <div style="position:relative;display:flex;flex-direction:column;align-items:center;justify-content:center; margin-right: 30px; height:50px">
            <img src="https://cdn.mindpeers.co/dark-mode/tools/art-tool/art-analysis-pie-chart.png" alt="art" style="z-index:0;object-fit:cover; border-radius: 50%; width:80px; height:80px; position:absolute; top:-15px; left: -27px;" />
            <p style="color:#090A0B99;z-index:1;font-size:10px;font-weight:500;">Score</p>
            <h4 style="z-index:1;font-size:14px;font-weight:600;">{{result.score}}</h4>
        </div>
    </div>
    <div class="gray-bg-box" style="padding:18px;">
        
      {{#ifType result.description 'undefined'}}
        <div class="score-meta" style="border-top:none">
            <h3 class="header-text4">Focus State</h3>
            <div style="height:32px; width:32px; border-radius:50%; background-color:#FDBDFF; display:flex; justify-content:center; align-items:center;">
                <h3 style="color:#090A0B;" class="body-text1" >{{result.focus}}</h3>
            </div>
        </div>
      {{else}}
        <h2 style="margin-bottom: 10px; width:100%;" class="header-text4">Descriptive Analysis</h2>
        <p style="white-space:pre-line; color: #090A0B99;width:100%;" class="body-text3">{{result.description}}</p> 
        <div class="score-meta" style="margin-top:16px">
            <h3 class="header-text4">Focus State</h3>
            <div style="height:32px; width:32px; border-radius:50%; background-color:#FDBDFF; display:flex; justify-content:center; align-items:center;">
                <h3 style="color:#090A0B;" class="body-text1" >{{result.focus}}</h3>
            </div>
        </div>
      {{/ifType}}
        <div class="score-meta">
            <h3 class="header-text4">Productivity State</h3>            
            <div style="height:32px; width:32px; border-radius:50%; background-color:#FFDF83; display:flex; justify-content:center; align-items:center;">
                <h3 style="color:#090A0B;" class="body-text1">{{result.productivity}}</h3>
            </div>
        </div>
        <div class="score-meta">
            <h3 class="header-text4">Task Management</h3>           
            <div style="height:32px; width:32px; border-radius:50%; background-color:#AEDA81; display:flex; justify-content:center; align-items:center;">
                <h3 style="color:#090A0B;" class="body-text1">{{result.task_management}}</h3>
            </div>
        </div>
    </div>
  </main>
</body>