<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">

<head>
  <title>
  </title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style type="text/css">
  @font-face {
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 300;
  src: url("https://raw.githubusercontent.com/blaisck/sfwin/master/SFPro/TrueType/SFProText-Light.ttf");
}
@font-face {
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 400;
  src: url("https://raw.githubusercontent.com/blaisck/sfwin/master/SFPro/TrueType/SFProText-Regular.ttf");
}
@font-face {
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 500;
  src: url("https://raw.githubusercontent.com/blaisck/sfwin/master/SFPro/TrueType/SFProText-Medium.ttf");
}
@font-face {
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 600;
  src: url("https://raw.githubusercontent.com/blaisck/sfwin/master/SFPro/TrueType/SFProText-SemiBold.ttf");
}
@font-face {
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 700;
  src: url("https://raw.githubusercontent.com/blaisck/sfwin/master/SFPro/TrueType/SFProText-Bold.ttf");
}
@font-face {
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 900;
  src: url("https://raw.githubusercontent.com/blaisck/sfwin/master/SFPro/TrueType/SFProText-Heavy.ttf");
}
@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 100;
  src: url("https://raw.githubusercontent.com/blaisck/sfwin/master/SFPro/TrueType/SFProDisplay-Ultralight.ttf");
}
@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 200;
  src: url("https://raw.githubusercontent.com/blaisck/sfwin/master/SFPro/TrueType/SFProDisplay-Thin.ttf");
}
@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 300;
  src: url("https://raw.githubusercontent.com/blaisck/sfwin/master/SFPro/TrueType/SFProDisplay-Light.ttf");
}
@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  src: url("https://raw.githubusercontent.com/blaisck/sfwin/master/SFPro/TrueType/SFProDisplay-Regular.ttf");
}
@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 500;
  src: url("https://raw.githubusercontent.com/blaisck/sfwin/master/SFPro/TrueType/SFProDisplay-Medium.ttf");
}
@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 600;
  src: url("https://raw.githubusercontent.com/blaisck/sfwin/master/SFPro/TrueType/SFProDisplay-SemiBold.ttf");
}
@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 700;
  src: url("https://raw.githubusercontent.com/blaisck/sfwin/master/SFPro/TrueType/SFProDisplay-Bold.ttf");
}
@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 800;
  src: url("https://raw.githubusercontent.com/blaisck/sfwin/master/SFPro/TrueType/SFProDisplay-Black.ttf");
}
@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 900;
  src: url("https://raw.githubusercontent.com/blaisck/sfwin/master/SFPro/TrueType/SFProDisplay-Heavy.ttf");
}

.display-text {
  /* font-family: "SF Pro Display";
  font-weight: 700;
  font-size: 3rem;
  line-height: 3.5rem;
  letter-spacing: 0.05em; 
  margin-bottom: 0; */

  font-family: "SF Pro Display";
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: 0.03em; /* 3% converted to em */
  margin-bottom: 0;
}

.header-text1 {
  font-family: "SF Pro Display";
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: 0.03em; /* 3% converted to em */
  margin-bottom: 0;
}

.header-text2 {
  font-family: "SF Pro Display";
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.03em; /* 3% converted to em */
  margin-bottom: 0;
}

.header-text3 {
  font-family: "SF Pro Display";
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.03em; /* 3% converted to em */
  margin-bottom: 0;
}

.header-text4 {
  font-family: "SF Pro Display";
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.03em; /* 2% converted to em */
  margin-bottom: 0;
}

.header-text5 {
  font-family: "SF Pro Display";
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.03em; /* 3% converted to em */
  margin-bottom: 0;
}

.subtitle-text1 {
  font-family: "SF Pro Text";
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: 0.03em; /* 3% converted to em */
  margin-bottom: 0;
}

.subtitle-text2 {
  font-family: "SF Pro Text";
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: 0.02em; /* 3% converted to em */
  margin-bottom: 0;
}

.body-text1 {
  font-family: "SF Pro Text";
  font-size: 16px;
  line-height: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.02em; /* 2% converted to em */
  margin-bottom: 0;
}

.body-text2 {
  font-family: "SF Pro Text";
  font-size: 14px;
  line-height: 1.25rem;
  font-weight: 400;
  letter-spacing: 0.02em; /* 2% converted to em */
  margin-bottom: 0;
}

.body-text3 {
  font-family: "SF Pro Text";
  font-size: 0.75rem;
  line-height: 1.125rem;
  font-weight: 400;
  letter-spacing: 0.02em; /* 2% converted to em */
  margin-bottom: 0;
}

.caption-text {
  font-family: "SF Pro Text";
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 500;
  letter-spacing: 0.02em; /* 2% converted to em */
  margin-bottom: 0;
}

.primary-cta-text {
  font-family: "SF Pro Text";
  font-size: 1.125rem;
  line-height: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.03em; /* 3% converted to em */
  margin-bottom: 0;
}

.secondary-cta-text {
  font-family: "SF Pro Text";
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 700;
  letter-spacing: 0.03em; /* 3% converted to em */
  margin-bottom: 0;
}

.nav-bar-text {
  font-family: "SF Pro Text";
  font-size: 0.875rem;
  line-height: 0.875rem;
  font-weight: 400;
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .display-text {
    font-size: 1.75rem;
    line-height: 2.5rem;
    letter-spacing: 0.024em; /* 2.4% converted to em */
  }

  .header-text1 {
    font-size: 1.75rem;
    line-height: 2.5rem;
    letter-spacing: 0.024em; /* 2.4% converted to em */
  }

  .header-text2 {
    font-size: 1.5rem;
    line-height: 2.25rem;
    letter-spacing: 0.02em; /* 2% converted to em */
  }

  .header-text3 {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em; /* 2% converted to em */
  }

  .header-text4 {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.02em; /* 2% converted to em */
  }

  .header-text5 {
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.0015em; /* 0.15% converted to em */
  }

  .subtitle-text1 {
    font-size: 1.125rem;
    line-height: 1.75rem;
    letter-spacing: 0.0015em; /* 0.15% converted to em */
  }

  .subtitle-text2 {
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.0015em; /* 0.15% converted to em */
  }

  .body-text1 {
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.005em; /* 0.5% converted to em */
  }

  .body-text2 {
    font-size: 0.875rem;
    line-height: 1.5rem;
    letter-spacing: 0.0025em; /* 0.25% converted to em */
  }

  .body-text3 {
    font-size: 0.75rem;
    line-height: 1.25rem;
    letter-spacing: 0.014em; /* 1.4% converted to em */
  }

  .caption-text {
    font-size: 0.625rem;
    line-height: 1rem;
    letter-spacing: 0.014em; /* 1.4% converted to em */
  }

  .primary-cta-text {
    font-size: 0.875rem;
    line-height: 1.5rem;
    letter-spacing: 0.0125em; /* 1.25% converted to em */
  }
}
    #outlook a {
      padding: 0;
    }
    body {
      margin: 0;
      padding: 0;
      -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
      background-blend-mode: darken;
      font-family:Ubuntu, Helvetica, Arial, sans-serif !important;
      color: #393939;
      position: relative;
    }

    table,
    td {
      border-collapse: collapse;
      mso-table-lspace: 0pt;
      mso-table-rspace: 0pt;
    }
    img {
      border: 0;
      height: auto;
      line-height: 100%;
      outline: none;
      text-decoration: none;
      -ms-interpolation-mode: bicubic;
    }
    h2 {
      color: #212121;
      font-size: 1.25rem;
      margin:0;
    }
    h3 {
      color: #212121;
      font-size: 1.25rem;
      margin:0;
    }
    h1{
      color: #212121;
      margin:0;
    }
    a{
      color: #393939;
      text-decoration: none;
    }
    p {
      display: block;
      margin: 13px 0;
    }
    .report-content li,
    .report-content p{
      font-size: 0.875rem;
    }
    b {
      font-family:Ubuntu, Helvetica, Arial, sans-serif;
      font-weight: 700;
    }
    .basics-table {
        background-color: transparent;
        width: 100%;
        height: 100%;
    }
    .basics-table td, .basics-table th {
        padding: 8px;
        font-size: 0.875rem;
    }
    .main-container{
      margin: 0 auto;
      padding: 0 2rem;
    }
    .no-padding {
      margin: 0 -2rem;
    }
    .report-section{
      border-radius: 0.75rem;
      border: 1px solid #393939;
      max-width: 40rem;
      margin: 0 auto;
      font-style: normal;
      font-weight: 400;
      line-height: 1.5rem; 
      background-color: white;
      z-index: 1;
    }
    .report-section .report-heading{
      border-bottom: 1px solid #393939;
      padding: 0.5rem;
      text-align: center;
      border-top-left-radius: 0.75rem;
      border-top-right-radius: 0.75rem;
    }
    .report-section .report-heading h3{
      margin: 0;
    }
    .report-section .report-content{
      padding: 0.5rem;
    }
    .quote-section{
      background: #F5FBFA;
      padding: 1.5rem;
      display: flex;
      gap: 1rem;
      flex-direction: column;
    }
    .flex-col-center{
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
    .flex-col-center h2{
      text-align: center;
      margin: 0;
      margin-bottom: 0.5rem;
    }
    .flex-col-center p{
      text-align: center;
      margin: 0;
      margin-bottom: 2.5rem;
    }
    .item-box {
      border-radius: 0.5rem;
      border: 1px solid #F5F5F5;
      background: #F5F5F5;
      box-shadow: 0px 4px 4px 0px rgba(157, 157, 157, 0.05);
      padding: 0.75rem;
      display: flex;
      gap: 0.5rem;
    }
    .text {
      font-size: 0.875rem;
      font-style: normal;
      font-weight: 400;
      line-height: 1.25rem; /* 142.857% */
      color: #393939;
    }
    .sec-text {
      color: #393939;
      font-size: 0.875rem;
      font-style: normal;
      font-weight: 400;
      line-height: 1.125rem; /* 128.571% */
    }
    .bold-text{
      font-weight: 500;
    }
    .dont-break{
      page-break-inside: avoid;
    }
    .footer {
      margin-top: auto;
    }
    .page-header{
      position: fixed;
      top: 50%;
      width: 100%;
      left: 50%;
      opacity: 0.08;
      z-index: -1;
      transform: translate(-50%, -50%) rotate(-15deg);
    }
    .bar-graph{
      display: flex;
      align-items: center;
      gap:12px;
    }
    .graph-bg{
      background-size: cover;
      display:flex;
      flex-direction: column;
      gap:1.5rem;
      padding:1.5rem;
      margin-top: 1.5rem;
    }
.srrs-score-bar {
  display: flex;
  align-items: flex-end;
  width: calc(100% - 4rem);
  position: relative;
  height:7.5rem;
  margin: 0 auto;
}

.score-bar {
  display: flex;
  width: 100%;
  height: 20px;
  border-radius: 20px;
  overflow: hidden;
  z-index: 0;
}

.score-segment {
  flex: 1;
}

.score-segment-1 { background-color: #1B9004; }
.score-segment-2 { background-color: #22B004; }
.score-segment-3 { background-color: #FFCC00; }
.score-segment-4 { background-color: #FF9934; }
.score-segment-5 { background-color: #CD3301; }
.score-segment-6 { background-color: #9A2D28; }

.score-pointer-container {
  position: absolute;
  height: 100%;
}

.score-pointer {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: #333;
  border-radius: 50%;
  transform: translateX(-50%);
}

.score-value {
  color: #090A0B;
  font-weight: bold;
  position: absolute;
  top: 0;
  height: 3.75rem;
  width: 3.75rem;
  border-radius: 50%;
  background-color: #E0E0E0;
  border: 4px solid #FAFAFB;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
.score-value::after {
  content: '';
  position: absolute;
  bottom: -37px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 37px solid #E0E0E0;
  border-bottom: none;
  z-index: 1;
}
.answer-circle{
  position: relative;
}
.first-arrow{
  height:4rem;
  margin-bottom: 1rem;
  transform: scaleX(-1);
}
.second-arrow{
  height:7.5rem;
  margin-bottom: 1rem;
}
.third-arrow{
  height:4rem;
  margin-bottom: 1rem;
}
  </style>
  <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700" rel="stylesheet" type="text/css">
  <style type="text/css">
    @import url(https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700);
  </style>
</head>

<body style="word-spacing:normal;">
  <div id="page-header" class="page-header">
    <img src={{constants.logoUrl}} alt="logo" style="height: 5rem; width: auto; display: block; margin: 2rem auto;" width="200" />
  </div>
  <header style="margin:0 auto; text-align:center; font-size: 0.75rem; border-bottom: 1px solid #3939391b;background: #FAFAFB; color: #090A0B66; padding: 12px 0;" class="caption-text">This is MindPeers India Private Limited Copyright {{currentYear}}. Please do not circulate or modify.</header>
  {{!-- <div class="main-container">
    <div style="margin: 1rem 0;">
    <img src="{{constants.logoUrl}}" alt="logo" style="height: 2rem; width: auto; display: block; margin: 1.5rem auto;" width="200" />
  </div> --}}
  <section style="display:flex;gap:1rem; justify-content: space-between;min-height:9rem; background:#FAFAFB; padding:20px;">
    <div style="flex:0.75; border-radius: 1rem; overflow:hidden; padding:-2px;">
      <table class="basics-table">
        <tr style="">
            <td style="color: #090A0B99; width:100px;" class="body-text3">Name</td>
            <td style="color: #090A0B;" class="body-text3">{{user_name}}</td>
        </tr>
        <tr style="">
            <td style="color: #090A0B99; width:100px;" class="body-text3">Test</td>
            <td style="color: #090A0B;" class="body-text3">{{name}}</td>
        </tr>
        <tr style="">
            <td style="color: #090A0B99; width:100px;" class="body-text3">Taken on</td>
            <td style="color: #090A0B;" class="body-text3">{{date}}</td>
        </tr>
        <tr style="">
            <td style="color: #090A0B99; width:100px;" class="body-text3">Reference</td>
            <td style="color: #090A0B;" class="body-text3">{{reference}}</td>
        </tr>
    </table>
    </div>
    <div style="flex:0.25;display:flex; flex-direction:column;align-items:center;border-radius:1rem;padding:1rem;gap:0.75rem;justify-content:space-around;">
          <img src="{{constants.logoUrl}}" alt="logo" style="height: 4rem; width: auto; max-width:100px; display: block;" width="200" />
    </div>
  </section>
  <section style="padding: 0 20px;">
    <div style="border-bottom: 1px solid #3939391b; display:flex; justify-content:space-between; align-items:center; padding: 12px 0; margin-top:8px;">
      <h2 class="header-text2">
        Your Score
      </h2>
      <span>
        <span class="body-text2" style="color:#16A9B1;">Symptom</span>
        <span class="body-text2">{{result.score_title}}</span>
      </span>
    </div>
    {{!-- TODO: change icon --}}
    {{!-- <h2 style="text-align:center;margin: 0.9rem 0 1.5rem 0; display:flex; align-items:center; gap:1rem; justify-content: center;">
      <img src="https://cdn.mindpeers.co/dark-mode/tools/diagnostic-test/report-icon.png" alt="icon" style="height: 1.5rem; width: auto;object-fit:contain;"  /> 
      Report Card
    </h2> --}}
    {{#each report}}
      {{#ifType this 'undefined'}}
      {{else}}
        {{#switch this.type}}
          {{#case 'GRAPH_SECTION'}}
            <div style="width:100%;">
              {{#each this.cards}}
                <div style="width:100%;">
                {{#switch this.type}}
                  {{#case "BAR"}}
                    <div style="display:flex;flex-direction:column; gap:18px; margin:24px 0;">
                      {{#each this.data}}
                        <div class="bar-graph">
                          <span class="primary-cta-text" style="width:80px;">{{this.name}}</span>
                          <div style="display:flex; justify-content:space-between; align-items:center; flex:1;">
                            {{!-- create this.value color squares of 16px and remaining this.max_value in #A5A5A5 --}}
                            {{#numberLoop this.max_value}}
                              <div style="height:16px; width:16px;">
                                {{#compareNum number '<' ../this.value}}
                                  <div style="height:16px; width:16px; background-color: {{parent.color}};"></div>
                                {{/compareNum}}
                                {{#compareNum number '>=' ../this.value}}
                                  <div style="height:16px; width:16px; background-color: #A5A5A5;"></div>
                                {{/compareNum}}
                              </div>
                            {{/numberLoop}}
                          </div>
                          <div style="width:62px">
                            <span class="primary-cta-text">{{this.value}}</span>
                            <span class="primary-cta-text" style="color:#090A0B99;">/{{this.max_value}}</span>
                          </div>
                        </div>
                      {{/each}}
                      <div style="background: #F5FBFA;border: 1px solid #EBF3F2;border-radius: 20px;padding:12px 20px;align-self: flex-end;">
                        {{this.description}}
                      </div>
                    </div>
                  {{/case}}
                  {{#case "METER"}}
                    {{#with this}}
                      <div class="srrs-score-bar">
                        <div class="score-bar">
                          <div class="score-segment score-segment-1"></div>
                          <div class="score-segment score-segment-2"></div>
                          <div class="score-segment score-segment-3"></div>
                          <div class="score-segment score-segment-4"></div>
                          <div class="score-segment score-segment-5"></div>
                          <div class="score-segment score-segment-6"></div>
                        </div>
                        <div class="score-value header-text5" style="left: {{getPointerPosition this.value this.max_value}}%;">{{this.value}}</div>
                      </div>
                    {{/with}}
                    <div style="display:flex; align-items:center; justify-content:center;margin-top:12px;">
                      <h2 class="subtitle-text1" style="color:#090A0B99;">{{this.title}}</h2>
                    </div>
                  {{/case}}
                {{/switch}}
            </div>
              {{/each}}
            </div>
          {{/case}}
          {{#case 'QUESTIONS_SECTION'}}
            <div style="width:100%;">
              {{#each this.cards}}
              <div style="width:100%; display:flex; gap:1.5rem; align-items:center; margin: 36px 0;" class="dont-break">
                <div>
                  <h2 class="header-text4">{{this.heading}}</h2>
                  <span class="body-text2">
                  {{{formatDescription this.description}}}
                  </span>
                </div>
                <img src={{this.image}} alt="icon" style="height: 8rem; width: auto;object-fit:contain;"  />
              </div>
              {{/each}}
            </div>
          {{/case}}
          {{#case "WIDE_SECTION"}}
              {{#each this.cards}}
                <section class="quote-section dont-break" style="position:relative;margin-bottom: 2rem;">
                   <h2 style="z-index:1;" class="header-text4">{{this.heading}}</h2>
                   <div style="display:flex; gap:0.85rem;">
                    {{#each this.tags}}
                      <div style="background: #FFFFFF;border: 1px solid #EBF3F2;border-radius: 20px;padding:8px 20px;" class="body-text1">{{this}}</div>
                    {{/each}}
                   </div>
                </section>
              {{/each}}
          {{/case}}
          {{#case "IMAGE_BOX_TEXT"}}
            <section class="dont-break flex-col-center" style="margin: 1rem 0; z-index:1;">
              {{#each this.cards}}
                <div style="display:flex; 0; align-items:center; margin: 36px 0; background:#FFFFFF;position:relative">
                  <img src="https://cdn.mindpeers.co/dark-mode/tools/diagnostic-test/report/peeking-person.svg" alt="icon" style="height: 100%; width: auto;object-fit:contain;position:absolute;inset:0;z-index:1;"  />
                  <div style="border: 1px solid #6B6C6D;border-left:none;background:#fff; padding: 1rem;z-index:1;width:100%;margin-left:3rem;">
                    <h2 class="header-text2" style="color:#16A693;margin-bottom:1rem;">{{this.heading}}</h2>
                    <p class="body-text2" style="color:#16A693; margin:0;">{{this.description}}</p>
                  </div>
                </div>
              {{/each}}
            </section>
          {{/case}}
          {{#case "BG_IMAGE_SECTION"}}
            <section class="dont-break" style="margin-bottom:2rem;">
                <h1 class="header-text4">{{this.heading}}</h1> 
                <div class="graph-bg" style="background: url('{{this.background}}') no-repeat;min-height:22rem;background-position: center;display:flex;align-items:center;justify-content:center;">
                  {{#ifType this.cards 'object'}}
                    {{#each this.cards}}
                        {{#ifcond (mod @index 2) 0}}
                        <div style="flex:0.5;max-width:70%;padding:0.85rem 0.5rem;background: #FAFAFB;border-radius: 20px;align-self: flex-start;">
                          <span class="body-text1">{{this}}</span>
                        </div>
                        {{/ifcond}}
                        {{#ifcond (mod @index 2) 1}}
                        <div style="flex:0.5;max-width:70%;padding:0.85rem 0.5rem;background: #FAFAFB;border-radius: 20px;align-self: flex-end;">
                          <span class="body-text1">{{this}}</span>
                        </div>
                        {{/ifcond}}
                    {{/each}}
                  {{else}}
                    <div style="display:flex;align-items:center;flex-direction:column;">
                      <div style="position:relative;display:flex;align-items:center;flex-direction:column;height:130px;width:240px;padding:20px;">
                        <img src="../assets/question-bubble.png" style="position:absolute;inset:0;z-index:1;height: 200px;width: 400px;left: -50px;top: -20px;" />
                        <img src="{{this.icon}}" alt="icon" style="height:1.25rem; width: auto;object-fit:contain;z-index:2;transform:rotate(-10deg);"  />
                        <h2 class="subtitle-text2" style="color:#090A0B;z-index:2;text-align:center;">{{this.question}}</h2>
                      </div>
                      <div style="display:flex;width: 600px;justify-content:space-between;margin-top:-2rem;">
                        {{#each this.answers}}
                        <div style="height:200px;width:auto;max-width:150px;">
                          <img src="../assets/arrow-doodle.png" class="{{#ifcond @index 0}}first-arrow{{/ifcond}}{{#ifcond @index 1}}second-arrow{{/ifcond}}{{#ifcond @index 2}}third-arrow{{/ifcond}}" />
                          <div style="position:relative;display:flex;align-items:center;justify-content:center;"> 
                            <img src="https://cdn.mindpeers.co/dark-mode/tools/diagnostic-test/report/ans-bubble.svg" style="position:absolute;max-width:150%;z-index:1;" />
                            <span class="body-text1" style="z-index:2;color:#16A693;padding:10px 18px;text-align:center;word-wrap: break-word;">{{this}}</span>
                          </div>
                        </div>
                      {{/each}}
                      </div>
                    </div>
                  {{/ifType}}
                </div>
            </section>
          {{/case}}
          {{#case "PARALLEL_CARDS_SECTION"}}
            <section class="dont-break" style="margin: 4rem 0;">
              <h2 style="text-align:start;margin:1rem 0;">{{this.heading}}</h2>
              <h3 style="text-align:start;margin:1rem 0;color:#090A0B99;" class="body-text1">{{this.sub_heading}}</h3>
              <div style="display:flex; gap:1.25rem; border-radius:0.5rem;">
                {{#each this.cards}}
                  {{#switch this.type}}
                    {{#case "FILLED_CARD"}}
                      <div class="item-box" style="flex:0.5; padding:1rem; display:flex; flex-direction:column; gap:1rem;background:{{this.background}}; align-items:center;">
                        {{#ifType this.header_color "string"}}
                            <h1 class="subtitle-text2" style="color:{{this.header_color}};margin-bottom:0.5rem;">{{this.heading}}</h1>                            
                        {{/ifType}}
                        {{#ifType this.image "string"}}
                          <img src={{this.image}} style="width:100%; max-width:15rem; height:auto; margin:0 auto;" alt="" />
                        {{/ifType}}
                        <span class="caption-text" style="color:#090A0B99;">{{this.description}}</span>
                    </div>
                    {{/case}}
                    {{#case "BG_IMAGE_CARD"}}
                      <div class="item-box" style="flex:0.5; padding:1rem; display:flex; flex-direction:column; gap:0.8rem;;position:relative">
                          {{#ifType this.header_color "string"}}
                              <h1 class="subtitle-text1" style="color:{{this.header_color}};margin-bottom:0.5rem;z-index:1;">{{this.heading}}</h1>                            
                          {{/ifType}}
                          {{#ifType this.image "string"}}
                            <img src={{this.image}} style="width:100%; max-width:15rem; height:auto; max-height:90%;object-fit:contain; margin:0 auto;position:absolute;right:0;bottom:0;z-index:0;" alt="" />
                          {{/ifType}}
                          <span class="body-text2" style="color:#090A0B66;z-index:1;">{{this.description}}</span>
                      </div>
                    {{/case}}
                    {{#case "POINTER_CARD"}}
                      <div class="item-box" style="flex:0.5; padding:1rem; display:flex; flex-direction:column; gap:0;">
                        {{#ifType this.header_color "string"}}
                          <div style="display:flex;flex-direction:column;margin-bottom: 1rem;">
                            <h1 class="subtitle-text2" style="color:{{this.header_color}};margin-bottom:0.5rem;">{{this.heading}}</h1>
                            <span class="body-text3" style="color:#090A0BCC;">{{this.description}}</span>
                          </div>
                        {{/ifType}}
                        {{#ifType this.image "string"}}
                          <img src={{this.image}} style="width:100%; max-width:15rem; height:auto; margin:0 auto;" alt="" />
                        {{/ifType}}
                        <span class="body-text3" style="color:#090A0BCC;margin: 1rem 0;">{{this.pointers_title}}</span>
                        <ul  class="body-text3" style="color:#090A0BCC;display:flex; flex-direction:column; gap:0.5rem;padding:0;margin-top:0;">
                          {{#each this.pointers}}
                            <li class="body-text3" style="color:#090A0B;list-style-type: none; display:flex; gap:0.5rem; ">
                              <img src="https://cdn.mindpeers.co/dark-mode/tools/diagnostic-test/report/pin-icon.png" style="height: 14px; width:auto;" alt="" />
                              <span>{{this}}</span>  
                            </li>
                          {{/each}}
                        </ul>
                    </div>
                    {{/case}}
                  {{/switch}}
                {{/each}}
              </div>
            </section>
          {{/case}}
          
          {{#case "FOOTER_SECTION"}}
            <footer class="footer dont-break no-padding" style="margin-top: 1rem;">
                <div style="display: flex; padding: 2rem 4rem; gap:0.5rem;background:#F5FBFA;">
                  <div>
                    <h2 style="margin:0;">{{this.heading}}</h2>
                    <p style="margin:0;">{{this.description}}</p>
                    <p style="white-space:pre-line; margin:1.25rem 0 1rem 0;">With love,</p>
                    <img src="https://cdn.mindpeers.co/website-images/mp-logo.png" alt="logo" style="height: 2rem; width: auto; display: block;" />  
                  </div>
                </div>
                <div style="display:flex;border: 1px solid #393939;border-left:none; border-right:none;">
                  {{#each this.cards}}
                    <div style="padding:0.75rem 0; flex:0.5; display:flex; justify-content:center;align-items:center; gap:1rem;border-right:{{#ifcond @index 0}}1px solid #393939;{{else}}none;{{/ifcond}};">
                      {{!-- <img src={{this.image}} alt="image" style="height:5rem; width:5rem; object-fit: contain; display: block;" /> --}}
                      <h2 class="secondary-cta-text" style="color:#16A9B1;">{{this.heading}}</h2>
                    </div>
                  {{/each}}
                </div>
                <div style="padding: 0.5rem 0; display:flex; justify-content:center;">
                  <span style="margin:0.5 auto; text-align:center; color:#090A0B66;" class="caption-text">This is MindPeers India Private Limited Copyright {{currentYear}}. Please do not circulate or modify.</span>
                </div>
            </footer>
          {{/case}}
          {{#default}}
            <!-- Default code -->
          {{/default}}
        {{/switch}}
      {{/ifType}}
    {{/each}}
  </section>
  
  </div>
</body>

</html>