<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">

<head>
  <title>
  </title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="color-scheme" content="light">
    <meta name="supported-color-schemes" content="light">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style type="text/css">
    #outlook a {
      padding: 0;
    }
    body {
      margin: 0;
      padding: 0;
      -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
      background-blend-mode: darken;
      font-family:Ubuntu, Helvetica, Arial, sans-serif !important;
      color: #393939;
      position: relative;
    }

    table,
    td {
      border-collapse: collapse;
      mso-table-lspace: 0pt;
      mso-table-rspace: 0pt;
    }
    img {
      border: 0;
      height: auto;
      line-height: 100%;
      outline: none;
      text-decoration: none;
      -ms-interpolation-mode: bicubic;
    }
    h2 {
      color: #212121;
      font-size: 1.25rem;
    }
    h3 {
      color: #212121;
      font-size: 1.25rem;
    }
    h1{
      color: #212121;
    }
    a{
      color: #393939;
      text-decoration: none;
    }
    p {
      display: block;
      margin: 13px 0;
    }
    .report-content li,
    .report-content p{
      font-size: 0.875rem;
    }
    b {
      font-family:Ubuntu, Helvetica, Arial, sans-serif;
      font-weight: 700;
    }
    .basics-table {
        background-color: #F5F5F5;
        width: 100%;
        height: 100%;
    }
    .basics-table td, .basics-table th {
        padding: 8px;
        font-size: 0.875rem;
    }
    .main-container{
      margin: 0 auto;
      padding: 0 2rem;
    }
    .no-padding {
      margin: 0 -2rem;
    }
    .report-section{
      border-radius: 0.75rem;
      border: 1px solid #393939;
      max-width: 40rem;
      margin: 0 auto;
      font-style: normal;
      font-weight: 400;
      line-height: 1.5rem; 
    }
    .report-section .report-heading{
      border-bottom: 1px solid #393939;
      padding: 0.5rem;
      text-align: center;
      border-top-left-radius: 0.75rem;
      border-top-right-radius: 0.75rem;
    }
    .report-section .report-heading h3{
      margin: 0;
    }
    .report-section .report-content{
      padding: 0.5rem;
    }
    .quote-section{
      background: rgba(150, 181, 205, 0.50);
      padding: 2rem 1.25rem 2.5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 3rem -2rem;
    }
    .quote-section h2{
      max-width: 42rem;
      text-align: center;
      margin: 0;
      margin-bottom: 1rem;
    }
    .quote-section p{
      margin: 0;
      max-width: 42rem;
      text-align: center;
    }
    .flex-col-center{
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
    .flex-col-center h2{
      text-align: center;
      margin: 0;
      margin-bottom: 0.5rem;
    }
    .flex-col-center p{
      text-align: center;
      margin: 0;
      margin-bottom: 2.5rem;
    }
    .item-box {
      border-radius: 0.5rem;
      border: 1px solid #F5F5F5;
      background: #F5F5F5;
      box-shadow: 0px 4px 4px 0px rgba(157, 157, 157, 0.05);
      padding: 0.75rem;
      display: flex;
      gap: 0.5rem;
    }
    .text {
      font-size: 0.875rem;
      font-style: normal;
      font-weight: 400;
      line-height: 1.25rem; /* 142.857% */
      color: #393939;
    }
    .sec-text {
      color: #393939;
      font-size: 0.875rem;
      font-style: normal;
      font-weight: 400;
      line-height: 1.125rem; /* 128.571% */
    }
    .bold-text{
      font-weight: 500;
    }
    .dont-break{
      page-break-inside: avoid;
    }
    .footer {
      background: #16A9B180;
      margin-top: auto;
    }
    .page-header{
      position: fixed;
      top: 50%;
      width: 100%;
      left: 50%;
      opacity: 0.08;
      transform: translate(-50%, -50%) rotate(-15deg);
    }
  </style>
  <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700" rel="stylesheet" type="text/css">
  <style type="text/css">
    @import url(https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700);
  </style>
</head>

<body class="darkmode" bgcolor="#f8f9fa" style="word-spacing:normal;">
  <div id="page-header" class="page-header">
    <img src={{constants.logoUrl}} alt="logo" style="height: 5rem; width: auto; display: block; margin: 2rem auto;" width="200" />
  </div>
  <header style="margin:0 auto; text-align:center; font-size: 0.75rem; margin: 0.5rem 0;">{{copyright}}</header>
  <div class="main-container">
    <div style="margin: 1rem 0;">
    <img src="{{constants.logoUrl}}" alt="logo" style="height: 2rem; width: auto; display: block; margin: 1.5rem auto;" width="200" />
  </div>
  <section style="display:flex;gap:1rem; justify-content: space-between;min-height:9rem;">
    <div style="flex:0.75; border-radius: 1rem; overflow:hidden; padding:-2px;border: 1px dashed rgba(57, 57, 57, 0.50);">
      <table class="basics-table">
        <tr style="border-bottom: 1px dashed rgba(57, 57, 57, 0.50);">
            <td style="border-right: 1px dashed rgba(57, 57, 57, 0.50);"><b>Name</b></td>
            <td>{{user_name}}</td>
        </tr>
        <tr style="border-bottom: 1px dashed rgba(57, 57, 57, 0.50);">
            <td style="border-right: 1px dashed rgba(57, 57, 57, 0.50);"><b>Test Name</b></td>
            <td>{{name}}</td>
        </tr>
        <tr style="border-bottom: 1px dashed rgba(57, 57, 57, 0.50);">
            <td style="border-right: 1px dashed rgba(57, 57, 57, 0.50);"><b>Reference</b></td>
            <td>{{reference}}</td>
        </tr>
        <tr style="">
            <td style="border-right: 1px dashed rgba(57, 57, 57, 0.50);"><b>Test taken on</b></td>
            <td>{{date}}</td>
        </tr>
    </table>
    </div>
    <div style="background: #33CD93;flex:0.25;display:flex; flex-direction:column;align-items:center;border-radius:1rem;padding:1rem;gap:0.75rem;justify-content:space-around;">
      <img src="https://cdn.mindpeers.co/dark-mode/tools/diagnostic-test/score-icon.png" alt="score" style="width: 2rem; height: auto; display: block; margin:0 auto;object-fit:contain;"  />
      <h3 style="margin:0;text-align:center;font-size:0.875rem;">{{result.score_title}}</h3>
      <h1 style="margin:0;text-align:center;font-size:1.25rem;">{{result.score}}</h1>
      <p style="margin:0;text-align:center;font-size:0.75rem;font-weight:500;">{{result.label}}</p>
    </div>
  </section>
  <section >
    {{!-- TODO: change icon --}}
    <h2 style="text-align:center;margin: 0.9rem 0 1.5rem 0; display:flex; align-items:center; gap:1rem; justify-content: center;">
      <img src="https://cdn.mindpeers.co/dark-mode/tools/diagnostic-test/report-icon.png" alt="icon" style="height: 1.5rem; width: auto;object-fit:contain;"  /> 
      Report Card
    </h2>
    {{#each report}}
      {{#ifType this 'undefined'}}
      {{else}}
        {{#switch this.type}}
          {{#case "CONNECTED_SECTION"}}
            <div class="report-card" style="margin-bottom: 20px;">
              {{#each this.cards}}
                  {{#ifcond this.type "TEXTUAL_POINTER_CONNECTED_HEADING_CARD"}}
                    <div class="report-section dont-break">
                      <div style="background-color: {{this.header_color}};display:flex; gap:1rem; align-items-center;justify-content:center;" class="report-heading">
                        <h3>{{this.heading}}</h3>
                        {{#ifType this.icon 'string'}}
                          <img src={{this.icon}} alt="icon" style="width: 1.5rem; object-fit: contain;" width="200" />
                        {{/ifType}}
                      </div>
                      <div class="report-content">
                        {{#ifType this.description 'string'}}
                              <p>{{this.description}}</p>
                        {{/ifType}}
                        {{#ifType this.pointers 'object'}}
                            <ul>
                                {{#each this.pointers}}
                                    <li>{{this}}</li>
                                {{/each}}
                            </ul>
                        {{/ifType}}
                      </div>
                    </div>
                    {{#unless @last}}
                    <div style="width:100%; display:flex;align-items:center;">
                      <svg xmlns="http://www.w3.org/2000/svg" width="8" height="57" viewBox="0 0 8 57" fill="none" style="margin: 0 auto;">
                        <path d="M4.5 5L6.88675 1.26184e-07L1.11325 -1.26184e-07L3.5 5L4.5 5ZM3.64644 56.3536C3.84171 56.5488 4.15829 56.5488 4.35355 56.3536L7.53553 53.1716C7.73079 52.9763 7.73079 52.6597 7.53553 52.4645C7.34027 52.2692 7.02369 52.2692 6.82842 52.4645L4 55.2929L1.17157 52.4645C0.976308 52.2692 0.659726 52.2692 0.464464 52.4645C0.269202 52.6597 0.269202 52.9763 0.464464 53.1716L3.64644 56.3536ZM3.5 4.5L3.5 56L4.5 56L4.5 4.5L3.5 4.5Z" fill="#393939"/>
                    </svg>
                    </div>
                    {{/unless}}
                  {{/ifcond}}
              {{/each}}
            </div>
          {{/case}}
          {{#case "WIDE_SECTION"}}
              {{#each this.cards}}
                <section class="quote-section dont-break " style="position:relative;">
                    <h2 style="z-index:1;">{{this.heading}}</h2>
                    <p style="z-index:1;">{{this.description}}</p>
                    <img src={{this.image}} alt="" style="height: 4rem; width: auto;object-fit:contain; position:absolute; top:2rem; right: 2.5rem;z-index:0;"  />
                </section>
              {{/each}}
          {{/case}}
          {{#case "WIDE_POINTER_SECTION"}}
            {{#each this.cards}}
              <section class="flex-col-center dont-break">
                <h2>{{this.heading}}</h2>
                <p>{{this.description}}</p>
                <div style="display:flex;gap:0.5rem;flex-wrap:wrap;justify-content:center;">
                  {{#each this.pointers}}
                    <div class="item-box">
                      {{this}}
                    </div>
                  {{/each}}
                </div>
              </section>
            {{/each}}
          {{/case}}
          {{#case "PARALLEL_CARDS_SECTION"}}
            <section class="dont-break" style="margin: 4rem 0;">
              <div style="border: 1px solid #393939; border-bottom:none; border-radius: 1rem 1rem 0 0;padding:1rem;">
                <div style="position:relative; display:flex; align-items:center;">
                  <img src={{this.image}} alt="logo" style="width: auto; max-height: 1rem; height: 100%; object-fit: contain; display: block; margin:0 auto; position:absolute; top:0rem; left:1rem;" width="200" />
                  <img src={{this.icon}} alt="icon" style="width: 1.5rem; height: 100%; object-fit: contain; margin:0 auto;" width="200" />
                </div>
                <div>
                  <h2 style="margin:0;text-align:center;margin-top:1rem;">{{this.heading}}</h2>
                </div>
              </div>
              <div style="display:flex; border: 1px solid #393939; border-bottom:none;">
                {{#each this.cards}}
                  <div style="flex:0.5; border-right:{{#ifcond @index 0}}1px solid #393939;{{else}}none;{{/ifcond}}; padding:1rem; display:flex; flex-direction:column; gap:0.25rem;">
                      {{#ifType this.header_color "string"}}
                        <div class="item-box">
                          <img src={{this.icon}} alt="pinned" style="width: 1.5rem; height: 100%; object-fit: contain;" />
                          <span class="text bold-text" style="font-weight:500;">{{this.heading}}</span>
                        </div>
                      {{/ifType}}
                        <ul style="display:flex; flex-direction:column; gap:0.5rem;">
                          {{#each this.pointers}}
                            <li class="text">{{this}}</li>
                          {{/each}}
                        </ul>
                  </div>
                {{/each}}
              </div>

              <div style="border: 1px solid #393939; border-top: none; border-radius: 0 0 1rem 1rem; padding:1rem;background:#F5F5F5; display:flex; gap:0.5rem; align-items;center;">
                  <img src={{this.footer.image}} alt="icon" style="width: 1.5rem; height: 100%; object-fit: contain; " width="200" />
                <span>
                  {{this.footer.heading}}
                </span>
              </div>
            </section>
          {{/case}}
          {{#case "SMALL_CARD_CONTAINER_SECTION"}}
            <section class="flex-col-center dont-break" style="margin: 1rem 0;" >
              <h2 style="text-align:center">{{this.heading}}</h2>
              <span class="text" style="text-align:center">{{this.description}}</span>
              <div style="display: flex; gap:1.5rem; justify-content:center;margin:1rem 0;">
                {{#each this.cards}}
                  {{#ifcond this.type "HALF_WIDTH_CARD"}}
                    {{#ifType this.cta.deeplink "object"}}
                      <a class="item-box" href={{this.cta.deeplink.paramOne}} target="_blank" style="max-width:20rem">
                        <img src={{this.image}} alt="image" style="width:2.5rem; object-fit: contain; display: block; margin:0 auto;"  />
                        <div class="flex-col-center" style="align-items: flex-start;">
                          <span class="text bold-text">{{this.heading}}</span>
                          <span class="text bold-text" style="text-align:left;">{{this.description}}</span>
                          <span class="sec-text" style="margin-top:auto;">{{this.cta.text}}</span>
                        </div>
                      </a>
                    {{else}}
                      <div class="item-box"  style="max-width:20rem">
                        {{#ifType this.image "string"}}
                        <img src={{this.image}} alt="image" style="width:2.5rem; object-fit: contain; display: block; margin:0 auto;"  />
                        {{/ifType}}
                        <div class="flex-col-center" style="align-items: flex-start;">
                          <span class="text bold-text">{{this.heading}}</span>
                          <span class="text bold-text" style="text-align:left;">{{this.description}}</span>
                          <span class="sec-text" style="margin-top:auto;">{{this.cta.text}}</span>
                        </div>
                      </div>
                    {{/ifType}}
                  {{/ifcond}}
                  {{#ifcond this.type "EMOJI_POINTER_CARD"}}
                    {{#ifType this.pointers "object"}}
                      <ul style="margin-top:1rem;width:100%; max-width:40rem;list-style:none;">
                        {{#each this.pointers}}
                          <li class="text" style="margin:0.5rem 0;text-align:start;display:flex; gap:0.5rem;">
                            <img src="https://cdn.mindpeers.co/dark-mode/tools/diagnostic-test/pointer-icon.png" style="height:16px;margin-top:4px;" alt="" />
                              {{this}}
                          </li>
                        {{/each}}
                      </ul>
                    {{/ifType}}
                  {{/ifcond}}
                {{/each}}
              </div>
            </section>
          {{/case}}
          {{#case "FOOTER_SECTION"}}
            <footer class="footer dont-break no-padding" style="margin-top: 1rem;">
                <div style="display: flex; padding: 2rem 4rem; gap:0.5rem;">
                  {{!-- 📝 --}}
                  <img src={{this.icon}} alt="icon" style="height: 1.5rem; width: auto;object-fit:contain;"  />
                  <div>
                    <h2 style="margin:0;">{{this.heading}}</h2>
                    <p>{{this.description}}</p>
                  </div>
                </div>
                <div style="display:flex;border: 1px dashed rgba(57, 57, 57, 0.50);border-left:none; border-right:none;">
                  {{#each this.cards}}
                    <div style="padding:0.75rem 0; flex:0.5; display:flex; justify-content:center;align-items:center; gap:1rem;border-right:{{#ifcond @index 0}}1px dashed rgba(57, 57, 57, 0.50);{{else}}none;{{/ifcond}};">
                      <img src={{this.image}} alt="image" style="height:5rem; width:5rem; object-fit: contain; display: block;" />
                      <h2 >{{this.heading}}</h2>
                    </div>
                  {{/each}}
                </div>
                <div style="padding: 0.5rem 0; display:flex; justify-content:center;">
                  <span style="margin:0.5 auto; text-align:center; font-size: 0.75rem;">{{this.footer.heading}}</span>
                </div>
            </footer>
          {{/case}}
          {{#default}}
            <!-- Default code -->
          {{/default}}
        {{/switch}}
      {{/ifType}}
    {{/each}}
  </section>
  
  </div>
</body>

</html>
