<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="Generator" content="Microsoft Word 15 (filtered)" />
    <style>
      <!--
 /* Font Definitions */
 @font-face
	{font-family:Wingdings;
	panose-1:5 0 0 0 0 0 0 0 0 0;}
@font-face
	{font-family:PMingLiU;
	panose-1:2 2 5 0 0 0 0 0 0 0;}
@font-face
	{font-family:"Cambria Math";
	panose-1:2 4 5 3 5 4 6 3 2 4;}
@font-face
	{font-family:Calibri;
	panose-1:2 15 5 2 2 2 4 3 2 4;}
@font-face
	{font-family:"Arial Unicode MS";
	panose-1:2 11 6 4 2 2 2 2 2 4;}
@font-face
	{font-family:"Segoe UI";
	panose-1:2 11 5 2 4 2 4 2 2 3;}
@font-face
	{font-family:Times-Italic;
	panose-1:0 0 0 0 0 0 0 0 0 0;}
@font-face
	{font-family:"\@PMingLiU";
	panose-1:2 1 6 1 0 1 1 1 1 1;}
@font-face
	{font-family:"\@Arial Unicode MS";
	panose-1:2 11 6 4 2 2 2 2 2 4;}
 /* Style Definitions */
 p.MsoNormal, li.MsoNormal, div.MsoNormal
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:8.0pt;
	margin-left:0in;
	line-height:107%;
	font-size:11.0pt;
	font-family:"Calibri",sans-serif;}
p.Body, li.Body, div.Body
	{mso-style-name:Body;
	margin:0in;
	font-size:12.0pt;
	font-family:"Times New Roman",serif;
	color:black;
	border:none;}
.MsoChpDefault
	{font-family:"Calibri",sans-serif;}
 /* Page Definitions */
 @page WordSection1
	{size:595.3pt 841.9pt;
	margin:.5in .5in .5in .5in;}
div.WordSection1
	{page:WordSection1;}
 /* List Definitions */
 ol
	{margin-bottom:0in;}
ul
	{margin-bottom:0in;}
-->
    </style>
  </head>
  <body
    lang="EN-US"
    link="#0563C1"
    vlink="#954F72"
    style="word-wrap:break-word"
  >
    <div class="WordSection1">
      <p
        class="MsoNormal"
        align="center"
        style="margin-top:6.0pt;margin-right:0in;
margin-bottom:6.0pt;margin-left:0in;text-align:center;line-height:115%"
      >
        <b>
          <u>
            <span
              style="font-size:10.0pt;line-height:115%;font-family:"Segoe UI",sans-serif;
font-variant:small-caps;color:black"
            >
              AGREEMENT
            </span>
          </u>
        </b>
      </p>
      <p
        class="MsoNormal"
        style="margin-top:6.0pt;margin-right:0in;margin-bottom:6.0pt;
margin-left:0in;text-align:justify;line-height:115%;text-autospace:none"
      >
        <span
          lang="EN-IN"
          style="font-size:10.0pt;line-height:115%;font-family:"Segoe UI",sans-serif;
color:black"
        >
          This
        </span>
        <span
          lang="EN-IN"
          style="font-size:10.0pt;line-height:
115%;font-family:"Segoe UI",sans-serif;color:black"
        >
          Agreement
        </span>
        <span
          lang="EN-IN"
          style="font-size:10.0pt;line-height:115%;font-family:"Segoe UI",sans-serif;
color:black"
        >
          (“
          <b>
            Agreement
          </b>
          ”) is executed on this
        </span>
        <span
          style="font-size:10.0pt;line-height:115%;font-family:"Segoe UI",sans-serif;
color:black"
        >
          {{date}}
          (“
          <b>
            Effective Date
          </b>
          ”)
        </span>
        <span
          lang="EN-IN"
          style="font-size:10.0pt;line-height:115%;font-family:"Segoe UI",sans-serif;
color:black"
        >
          ,
        </span>
        <span
          lang="EN-IN"
          style="font-size:10.0pt;line-height:
115%;font-family:"Segoe UI",sans-serif;color:black"
        >
          by and
        </span>
        <span
          lang="EN-IN"
          style="font-size:10.0pt;line-height:115%;font-family:"Segoe UI",sans-serif;
color:black"
        >
          between
        </span>
      </p>
      <p
        class="MsoNormal"
        style="margin-top:6.0pt;margin-right:0in;margin-bottom:6.0pt;
margin-left:0in;text-align:justify;line-height:115%;text-autospace:none"
      >
        <span
          style="font-size:10.0pt;line-height:115%;font-family:"Segoe UI",sans-serif;
color:black"
        >
          {{doctor.name}}
          , having Phone Number –
          {{doctor.contact.code}}-{{doctor.contact.mobile}}
          ,
(hereinafter referred to as “
          <b>
            Counsellor
          </b>
          ”) being the party of the
          <b>
            FIRST
PART
          </b>
          .
        </span>
      </p>
      <p
        class="MsoNormal"
        style="margin-top:6.0pt;margin-right:0in;margin-bottom:6.0pt;
margin-left:0in;text-align:justify;line-height:115%;text-autospace:none"
      >
        <b>
          <span
            style="font-size:10.0pt;line-height:115%;font-family:"Segoe UI",sans-serif;
color:black"
          >
            AND
          </span>
        </b>
        <span
          style="font-size:10.0pt;line-height:115%;
font-family:"Segoe UI",sans-serif;color:black"
        ></span>
      </p>
      <p
        class="MsoNormal"
        style="margin-top:6.0pt;margin-right:0in;margin-bottom:6.0pt;
margin-left:0in;text-align:justify;line-height:115%;text-autospace:none"
      >
        <span
          style="font-size:10.0pt;line-height:115%;font-family:"Segoe UI",sans-serif;
color:black"
        >
          {{user.name}}
          , Phone Number –
          {{user.contact.code}}-{{user.contact.mobile}}
          hereinafter
referred to as “
          <b>
            Client
          </b>
          ”) being the party of the
          <b>
            OTHER PART
          </b>
          .
        </span>
      </p>
      <p
        class="MsoNormal"
        style="margin-top:6.0pt;margin-right:0in;margin-bottom:6.0pt;
margin-left:0in;text-align:justify;line-height:115%"
      >
        <span
          style="font-size:
10.0pt;line-height:115%;font-family:"Segoe UI",sans-serif;color:black"
        >
          Counsellor
and the Client shall individually be referred to as “
          <b>
            Party
          </b>
          ” and
collectively as “
          <b>
            Parties
          </b>
          ”.
        </span>
      </p>
      <p
        class="MsoNormal"
        style="margin-top:6.0pt;margin-right:0in;margin-bottom:6.0pt;
margin-left:0in;text-align:justify;line-height:115%"
      >
        <b>
          <u>
            <span
              style="font-size:10.0pt;line-height:115%;font-family:"Segoe UI",sans-serif;
color:black"
            >
              IMPORTANT NOTICE
            </span>
          </u>
        </b>
        <u>
          <span
            style="font-size:10.0pt;
line-height:115%;font-family:"Segoe UI",sans-serif;color:black"
          >
            ! This mutual
agreement between the Counsellor and the Client prior to the start of the
psychological counselling sets out the responsibilities of Parties towards each
other. Therefore, please scroll through and read all of the terms and
conditions in this Agreement carefully before accepting the terms. This is a
legally binding agreement between the Parties and shall be regarded as
          </span>
        </u>
        <u>
          <span
            lang="EN-IN"
            style="font-size:10.0pt;line-height:115%;font-family:"Segoe UI",sans-serif"
          >
            Informed
Consent by the Client
          </span>
        </u>
        <u>
          <span
            style="font-size:10.0pt;line-height:
115%;font-family:"Segoe UI",sans-serif;color:black"
          >
            as defined in the Mental
Healthcare Act, 2017.
          </span>
        </u>
      </p>
      <p
        class="MsoNormal"
        style="margin-top:6.0pt;margin-right:0in;margin-bottom:6.0pt;
margin-left:0in;text-align:justify;line-height:115%"
      >
        <u>
          <span
            style="font-size:
10.0pt;line-height:115%;font-family:"Segoe UI",sans-serif;color:black"
          >
            The
Client will indicate the client’s acceptance of this agreement by doing one or
more of the following or allowing or authorizing a third party to do one or
more of the following for the client: (1) clicking “
            <i>
              I Agree
            </i>
            ” or a
similar affirmation as applicable which appears during the booking process, or
(2) signing a copy of this agreement.
          </span>
        </u>
      </p>
      <p
        class="MsoNormal"
        style="margin-top:6.0pt;margin-right:0in;margin-bottom:6.0pt;
margin-left:0in;text-align:justify;line-height:115%"
      >
        <u>
          <span
            style="font-size:
10.0pt;line-height:115%;font-family:"Segoe UI",sans-serif;color:black"
          >
            If the
Client does not agree to be legally bound by this agreement in its entirety and
without modification or addition, then no such agreement has been reached and
the client should not contact the counsellor and/or seek counselling for the Counsellor.
Furthermore, the Counsellor may seek additional consent forms to be executed as
per the individual requirements of the parties herein.
          </span>
        </u>
      </p>
      <p
        class="MsoNormal"
        style="margin-top:6.0pt;margin-right:0in;margin-bottom:6.0pt;
margin-left:0in;text-align:justify;line-height:115%"
      >
        <b>
          <span
            lang="EN-IN"
            style="font-size:10.0pt;line-height:115%;font-family:"Segoe UI",sans-serif;
color:black"
          >
            NOW THEREFORE THIS AGREEMENT WITNESSES
          </span>
        </b>
        <span
          lang="EN-IN"
          style="font-size:10.0pt;line-height:115%;font-family:"Segoe UI",sans-serif;
color:black"
        >
          that in consideration of the mutual promises and covenants herein
contained and for valuable
          <i>
            consideration (the receipt and sufficiency of
which are hereby acknowledged)
          </i>
          the parties hereby agree as follows:
        </span>
      </p>
      <p
        class="MsoNormal"
        style="margin-top:6.0pt;margin-right:0in;margin-bottom:6.0pt;
margin-left:.5in;text-align:justify;text-indent:-.5in;line-height:115%;
text-autospace:none"
      >
        <b>
          <span
            lang="EN-IN"
            style="font-size:10.0pt;line-height:
115%;font-family:"Segoe UI",sans-serif;color:black"
          >
            1.
            <span style="font:7.0pt "Times New Roman""></span>
          </span>
        </b>
        <b>
          <u>
            <span
              lang="EN-IN"
              style="font-size:10.0pt;line-height:
115%;font-family:"Segoe UI",sans-serif;color:black"
            >
              Psychological Counselling:
            </span>
          </u>
        </b>
      </p>
      <p
        class="MsoNormal"
        style="margin-top:6.0pt;margin-right:0in;margin-bottom:6.0pt;
margin-left:.5in;text-align:justify;text-indent:-.5in;line-height:115%;
text-autospace:none"
      >
        <span
          lang="EN-IN"
          style="font-size:10.0pt;line-height:115%;
font-family:"Segoe UI",sans-serif;color:black"
        >
          1.1.
          <span style="font:7.0pt "Times New Roman""></span>
        </span>
        <u>
          <span
            lang="EN-IN"
            style="font-size:10.0pt;line-height:115%;
font-family:"Segoe UI",sans-serif;color:black"
          >
            Description of Counselling
          </span>
        </u>
        <span
          lang="EN-IN"
          style="font-size:10.0pt;line-height:115%;font-family:"Segoe UI",sans-serif;
color:black"
        >
          :
          <b></b>
          The
          <b></b>
          Counselling is a process in which a qualified professional,
such as the Counsellor, works in a systematic and regular way with a client or
clients to address and manage issues that are or may be adversely affecting the
Client’s mental and/or emotional health and/or activities of daily living.
        </span>
        <span
          lang="EN-IN"
          style="font-size:10.0pt;line-height:115%;font-family:"Segoe UI",sans-serif;
color:black"
        >
          Psychological Counselling is not an exact science, but it is often
an effective way to address issues, both longstanding and newly arisen, in the
Client’s life.
        </span>
      </p>
      <p
        class="MsoNormal"
        style="margin-top:6.0pt;margin-right:0in;margin-bottom:6.0pt;
margin-left:.5in;text-align:justify;text-indent:-.5in;line-height:115%;
text-autospace:none"
      >
        <span
          lang="EN-IN"
          style="font-size:10.0pt;line-height:115%;
font-family:"Segoe UI",sans-serif;color:black"
        >
          1.2.
          <span style="font:7.0pt "Times New Roman""></span>
        </span>
        <u>
          <span
            lang="EN-IN"
            style="font-size:10.0pt;line-height:115%;
font-family:"Segoe UI",sans-serif;color:black"
          >
            Counselling
          </span>
        </u>
        <u>
          <span
            lang="EN-IN"
            style="font-size:10.0pt;line-height:115%;font-family:"Segoe UI",sans-serif;
color:black"
          >
            Process
          </span>
        </u>
        <span
          lang="EN-IN"
          style="font-size:10.0pt;
line-height:115%;font-family:"Segoe UI",sans-serif;color:black"
        >
          : Counselling is
a collaborative process where the Counsellor and the Client work together to
identify concerns, areas for growth, as well as the Client’s strengths and
formulate a Personal Improvement Plan.
        </span>
      </p>
      <p
        class="MsoNormal"
        style="margin-top:6.0pt;margin-right:0in;margin-bottom:6.0pt;
margin-left:.5in;text-align:justify;text-indent:-.5in;line-height:115%;
text-autospace:none"
      >
        <span
          lang="EN-IN"
          style="font-size:10.0pt;line-height:115%;
font-family:"Segoe UI",sans-serif;color:black"
        >
          1.3.
          <span style="font:7.0pt "Times New Roman""></span>
        </span>
        <u>
          <span
            lang="EN-IN"
            style="font-size:10.0pt;line-height:115%;
font-family:"Segoe UI",sans-serif;color:black"
          >
            Role of the Counsellor:
          </span>
        </u>
        <span
          lang="EN-IN"
          style="font-size:10.0pt;line-height:115%;font-family:"Segoe UI",sans-serif;
color:black"
        >
          The Counsellor role is multidimensional; The Counsellor will provide
the Client with professional guidance and support during the sessions as well
as help the Client make a Personal Improvement Plan which the Client to continue
the outside of the sessions.
        </span>
      </p>
      <p
        class="MsoNormal"
        style="margin-top:6.0pt;margin-right:0in;margin-bottom:6.0pt;
margin-left:.5in;text-align:justify;text-indent:-.5in;line-height:115%;
text-autospace:none"
      >
        <span
          lang="EN-IN"
          style="font-size:10.0pt;line-height:115%;
font-family:"Segoe UI",sans-serif;color:black"
        >
          1.4.
          <span style="font:7.0pt "Times New Roman""></span>
        </span>
        <u>
          <span
            lang="EN-IN"
            style="font-size:10.0pt;line-height:115%;
font-family:"Segoe UI",sans-serif;color:black"
          >
            Known Risks
          </span>
        </u>
        <span
          lang="EN-IN"
          style="font-size:10.0pt;line-height:115%;font-family:"Segoe UI",sans-serif;
color:black"
        >
          : Counselling and psychological counselling are beneficial, but as
with any treatment, there are inherent risks the process of Psychological Counselling
can, at times, be uncomfortable. Some of what Parties discuss may include personal
issues which may bring to the surface uncomfortable emotions such as anger,
guilt, and sadness which may feel upsetting, increase the Client’s anxiety, or
adversely affect the Client’s mood. The Client may also experience discomfort or
resistance from people in the Client’s life who have been accustomed to
dynamics that are now changing as a result of the Client’s personal growth and
change, as a result of the psychological counselling.
        </span>
      </p>
      <p
        class="MsoNormal"
        style="margin-top:6.0pt;margin-right:0in;margin-bottom:6.0pt;
margin-left:.5in;text-align:justify;text-indent:-.5in;line-height:115%;
text-autospace:none"
      >
        <span
          lang="EN-IN"
          style="font-size:10.0pt;line-height:115%;
font-family:"Segoe UI",sans-serif;color:black"
        >
          1.5.
          <span style="font:7.0pt "Times New Roman""></span>
        </span>
        <u>
          <span
            lang="EN-IN"
            style="font-size:10.0pt;line-height:115%;
font-family:"Segoe UI",sans-serif;color:black"
          >
            No Guarantees
          </span>
        </u>
        <span
          lang="EN-IN"
          style="font-size:10.0pt;line-height:115%;font-family:"Segoe UI",sans-serif;
color:black"
        >
          : Although there are no guarantees of specific outcomes from Counselling,
the research indicates that Counselling can be helpful in bringing about
positive change. Factors that contribute to the likelihood of these positive
outcomes include being motivated to change, having open communication between the
parties, feeling respected and understood by the Counsellor, attending sessions
regularly, and considering before each session how to best use the Client’s
time.
        </span>
      </p>
      <p
        class="MsoNormal"
        style="margin-top:6.0pt;margin-right:0in;margin-bottom:6.0pt;
margin-left:.5in;text-align:justify;text-indent:-.5in;line-height:115%;
text-autospace:none"
      >
        <span
          lang="EN-IN"
          style="font-size:10.0pt;line-height:115%;
font-family:"Segoe UI",sans-serif;color:black"
        >
          1.6.
          <span style="font:7.0pt "Times New Roman""></span>
        </span>
        <u>
          <span
            lang="EN-IN"
            style="font-size:10.0pt;line-height:115%;
font-family:"Segoe UI",sans-serif;color:black"
          >
            Initial Evaluation
          </span>
        </u>
        <span
          lang="EN-IN"
          style="font-size:10.0pt;line-height:115%;font-family:"Segoe UI",sans-serif;
color:black"
        >
          : The first few sessions will involve an evaluation of the
Client’s needs, after which the Counsellor will be able to offer the Client some
first impressions of what issues need to be addressed and a Personal
Improvement Plan to follow should the Client choose to continue Counselling. The
Client should also evaluate this information along with the Client’s own
opinions of whether the Client feels comfortable working with the Counsellor.
        </span>
      </p>
      <p
        class="MsoNormal"
        style="margin-top:6.0pt;margin-right:0in;margin-bottom:6.0pt;
margin-left:.5in;text-align:justify;text-indent:-.5in;line-height:115%;
text-autospace:none"
      >
        <span
          lang="EN-IN"
          style="font-size:10.0pt;line-height:115%;
font-family:"Segoe UI",sans-serif;color:black"
        >
          1.7.
          <span style="font:7.0pt "Times New Roman""></span>
        </span>
        <u>
          <span
            lang="EN-IN"
            style="font-size:10.0pt;line-height:115%;
font-family:"Segoe UI",sans-serif;color:black"
          >
            Best Efforts
          </span>
        </u>
        <span
          lang="EN-IN"
          style="font-size:10.0pt;line-height:115%;font-family:"Segoe UI",sans-serif;
color:black"
        >
          : Counselling involves a large commitment on the Client’s part and
the Counsellor encourage the Client to be thoughtful about the Counsellor the
Client selects. If the Client has questions or concerns about the Counsellor
approach, Parties should discuss them when they arise.
        </span>
      </p>
      <p
        class="MsoNormal"
        style="margin-top:6.0pt;margin-right:0in;margin-bottom:6.0pt;
margin-left:.5in;text-align:justify;text-indent:-.5in;line-height:115%;
text-autospace:none"
      >
        <b>
          <span
            lang="EN-IN"
            style="font-size:10.0pt;line-height:
115%;font-family:"Segoe UI",sans-serif;color:black"
          >
            2.
            <span style="font:7.0pt "Times New Roman""></span>
          </span>
        </b>
        <b>
          <u>
            <span
              lang="EN-IN"
              style="font-size:10.0pt;line-height:
115%;font-family:"Segoe UI",sans-serif;color:black"
            >
              Sessions
            </span>
          </u>
        </b>
      </p>
      <p
        class="MsoNormal"
        style="margin-top:6.0pt;margin-right:0in;margin-bottom:6.0pt;
margin-left:.5in;text-align:justify;text-indent:-.5in;line-height:115%;
text-autospace:none"
      >
        <span
          lang="EN-IN"
          style="font-size:10.0pt;line-height:115%;
font-family:"Segoe UI",sans-serif;color:black"
        >
          2.1.
          <span style="font:7.0pt "Times New Roman""></span>
        </span>
        <span
          lang="EN-IN"
          style="font-size:10.0pt;line-height:115%;
font-family:"Segoe UI",sans-serif;color:black"
        >
          If Parties agree to begin psychological
Counselling, the Parties will usually schedule one [60-minute] session (
          <i>
            one
appointment hour of [60] minutes duration)
          </i>
          as per the request of the Client,
at a time mutually agreeable to the Parties, although some sessions may be
longer or more frequent.
        </span>
      </p>
      <p
        class="MsoNormal"
        style="margin-top:6.0pt;margin-right:0in;margin-bottom:6.0pt;
margin-left:.5in;text-align:justify;text-indent:-.5in;line-height:115%;
text-autospace:none"
      >
        <span
          lang="EN-IN"
          style="font-size:10.0pt;line-height:115%;
font-family:"Segoe UI",sans-serif;color:black"
        >
          2.2.
          <span style="font:7.0pt "Times New Roman""></span>
        </span>
        <span
          lang="EN-IN"
          style="font-size:10.0pt;line-height:115%;
font-family:"Segoe UI",sans-serif;color:black"
        >
          The Payment of Session shall be made
prior to confirmation of a Session.
        </span>
      </p>
      <p
        class="MsoNormal"
        style="margin-top:6.0pt;margin-right:0in;margin-bottom:6.0pt;
margin-left:.5in;text-align:justify;text-indent:-.5in;line-height:115%;
text-autospace:none"
      >
        <span
          lang="EN-IN"
          style="font-size:10.0pt;line-height:115%;
font-family:"Segoe UI",sans-serif;color:black"
        >
          2.3.
          <span style="font:7.0pt "Times New Roman""></span>
        </span>
        <span
          lang="EN-IN"
          style="font-size:10.0pt;line-height:115%;
font-family:"Segoe UI",sans-serif;color:black"
        >
          Once a Session is scheduled, the
Client is expected to pay for it immediately unless the Client provides 24
hours advance notice of cancellation.
        </span>
      </p>
      <p
        class="MsoNormal"
        style="margin-top:6.0pt;margin-right:0in;margin-bottom:6.0pt;
margin-left:.5in;text-align:justify;text-indent:-.5in;line-height:115%;
text-autospace:none"
      >
        <span
          lang="EN-IN"
          style="font-size:10.0pt;line-height:115%;
font-family:"Segoe UI",sans-serif;color:black"
        >
          2.4.
          <span style="font:7.0pt "Times New Roman""></span>
        </span>
        <span
          lang="EN-IN"
          style="font-size:10.0pt;line-height:115%;
font-family:"Segoe UI",sans-serif;color:black"
        >
          Clients are expected to arrive
at least 15 minutes before the scheduled session time. In case of a Late Show,
the session time shall stand reduced by the time the Client is late for the
session.
          <i>
            (
            <b>
              Illustration:
            </b>
            if the client is 10 mins late for a 60 Mins
session, then in such a case session will only be 50 mins and not full 60 mins)
          </i>
          .
        </span>
      </p>
      <p
        class="MsoNormal"
        style="margin-top:6.0pt;margin-right:0in;margin-bottom:6.0pt;
margin-left:.5in;text-align:justify;text-indent:-.5in;line-height:115%;
text-autospace:none"
      >
        <span
          lang="EN-IN"
          style="font-size:10.0pt;line-height:115%;
font-family:"Segoe UI",sans-serif;color:black"
        >
          2.5.
          <span style="font:7.0pt "Times New Roman""></span>
        </span>
        <span
          lang="EN-IN"
          style="font-size:10.0pt;line-height:115%;
font-family:"Segoe UI",sans-serif;color:black"
        >
          The Parties may agree to engage
in Sessions remotely using telecommunications technologies, such as video
conferencing or telephone hereinafter referred to as the “
          <b>
            Tele Counselling
          </b>
          ”,
the additional terms governing
        </span>
        <span
          lang="EN-IN"
          style="font-size:10.0pt;
line-height:115%;font-family:"Segoe UI",sans-serif"
        >
          <span style="color:black">
            Tele
Counselling are provided hereinbelow in
            <b>
              Schedule-A
            </b>
            .
          </span>
        </span>
      </p>
      <p
        class="MsoNormal"
        style="margin-top:6.0pt;margin-right:0in;margin-bottom:6.0pt;
margin-left:.5in;text-align:justify;text-indent:-.5in;line-height:115%"
      >
        <b>
          <span
            lang="EN-IN"
            style="font-size:10.0pt;line-height:115%;font-family:"Segoe UI",sans-serif;
color:black"
          >
            3.
            <span style="font:7.0pt "Times New Roman""></span>
          </span>
        </b>
        <b>
          <u>
            <span
              lang="EN-IN"
              style="font-size:10.0pt;line-height:
115%;font-family:"Segoe UI",sans-serif;color:black"
            >
              Professional Fees
            </span>
          </u>
        </b>
        <b>
          <span
            lang="EN-IN"
            style="font-size:10.0pt;line-height:115%;font-family:"Segoe UI",sans-serif;
color:black"
          >
            :
          </span>
        </b>
      </p>
      <p
        class="MsoNormal"
        style="margin-top:6.0pt;margin-right:0in;margin-bottom:6.0pt;
margin-left:.5in;text-align:justify;text-indent:-.5in;line-height:115%"
      >
        <span
          lang="EN-IN"
          style="font-size:10.0pt;line-height:115%;font-family:"Segoe UI",sans-serif;
color:black"
        >
          3.1.
          <span style="font:7.0pt "Times New Roman""></span>
        </span>
        <u>
          <span
            lang="EN-IN"
            style="font-size:10.0pt;line-height:115%;
font-family:"Segoe UI",sans-serif;color:black"
          >
            In-Person Session
          </span>
        </u>
        <b>
          <span
            lang="EN-IN"
            style="font-size:10.0pt;line-height:115%;font-family:"Segoe UI",sans-serif;
color:black"
          >
            :
          </span>
        </b>
        <span
          lang="EN-IN"
          style="font-size:10.0pt;line-height:
115%;font-family:"Segoe UI",sans-serif;color:black"
        >
          The Hourly fee payable by
the Client to the Counsellor and/or the booking coordinator for an in-person
session is Rs. 0.
        </span>
      </p>
      <p
        class="MsoNormal"
        style="margin-top:6.0pt;margin-right:0in;margin-bottom:6.0pt;
margin-left:.5in;text-align:justify;text-indent:-.5in;line-height:115%"
      >
        <span
          lang="EN-IN"
          style="font-size:10.0pt;line-height:115%;font-family:"Segoe UI",sans-serif;
color:black"
        >
          3.2.
          <span style="font:7.0pt "Times New Roman""></span>
        </span>
        <u>
          <span
            lang="EN-IN"
            style="font-size:10.0pt;line-height:115%;
font-family:"Segoe UI",sans-serif;color:black"
          >
            Tele Counselling
          </span>
        </u>
        <b>
          <span
            lang="EN-IN"
            style="font-size:10.0pt;line-height:115%;font-family:"Segoe UI",sans-serif;
color:black"
          >
            :
          </span>
        </b>
        <span
          lang="EN-IN"
          style="font-size:10.0pt;line-height:
115%;font-family:"Segoe UI",sans-serif;color:black"
        >
          The Hourly fee payable by
the Client to the Counsellor and/or the booking coordinator for a Tele
Counselling session is Rs. 0.
        </span>
      </p>
      <p
        class="MsoNormal"
        style="margin-top:6.0pt;margin-right:0in;margin-bottom:6.0pt;
margin-left:.5in;text-align:justify;text-indent:-.5in;line-height:115%;
text-autospace:none"
      >
        <span
          lang="EN-IN"
          style="font-size:10.0pt;line-height:115%;
font-family:"Segoe UI",sans-serif;color:black"
        >
          3.3.
          <span style="font:7.0pt "Times New Roman""></span>
        </span>
        <span
          lang="EN-IN"
          style="font-size:10.0pt;line-height:115%;
font-family:"Segoe UI",sans-serif;color:black"
        >
          If session time is more than the
usual time, the Counsellor and/or the booking coordinator will charge
accordingly.  Similarly, the Counsellor will prorate the hourly cost if the Counsellor
works for periods of less than one hour.
        </span>
      </p>
      <p
        class="MsoNormal"
        style="margin-top:6.0pt;margin-right:0in;margin-bottom:6.0pt;
margin-left:.5in;text-align:justify;text-indent:-.5in;line-height:115%"
      >
        <span
          lang="EN-IN"
          style="font-size:10.0pt;line-height:115%;font-family:"Segoe UI",sans-serif;
color:black"
        >
          3.4.
          <span style="font:7.0pt "Times New Roman""></span>
        </span>
        <span
          lang="EN-IN"
          style="font-size:10.0pt;line-height:115%;
font-family:"Segoe UI",sans-serif;color:black"
        >
          The aforesaid Fee shall be
subject to applicable taxes
        </span>
      </p>
      <p
        class="MsoNormal"
        style="margin-top:6.0pt;margin-right:0in;margin-bottom:6.0pt;
margin-left:.5in;text-align:justify;text-indent:-.5in;line-height:115%;
text-autospace:none"
      >
        <b>
          <span
            lang="EN-IN"
            style="font-size:10.0pt;line-height:
115%;font-family:"Segoe UI",sans-serif;color:black"
          >
            4.
            <span style="font:7.0pt "Times New Roman""></span>
          </span>
        </b>
        <b>
          <u>
            <span
              lang="EN-IN"
              style="font-size:10.0pt;line-height:
115%;font-family:"Segoe UI",sans-serif;color:black"
            >
              Cancellations:
            </span>
          </u>
        </b>
        <i>
          <span
            lang="EN-IN"
            style="font-size:10.0pt;line-height:115%;font-family:"Segoe UI",sans-serif;
color:black"
          ></span>
        </i>
      </p>
      <p
        class="MsoNormal"
        style="margin-top:6.0pt;margin-right:0in;margin-bottom:6.0pt;
margin-left:.5in;text-align:justify;text-indent:-.5in;line-height:115%;
text-autospace:none"
      >
        <span
          lang="EN-IN"
          style="font-size:10.0pt;line-height:115%;
font-family:"Segoe UI",sans-serif;color:black"
        >
          4.1.
          <span style="font:7.0pt "Times New Roman""></span>
        </span>
        <span
          lang="EN-IN"
          style="font-size:10.0pt;line-height:115%;
font-family:"Segoe UI",sans-serif;color:black"
        >
          A
          <u>
            minimum of 24 hours’ notice
          </u>
          is required
          <b></b>
          for rescheduling or cancellation of an appointment.  Without
such notification, fees will be charged to the Client as follows:
        </span>
      </p>
      <p
        class="MsoNormal"
        style="margin-top:6.0pt;margin-right:0in;margin-bottom:6.0pt;
margin-left:.75in;text-align:justify;text-indent:-.25in;line-height:115%;
text-autospace:none"
      >
        <span
          lang="EN-IN"
          style="font-size:10.0pt;line-height:115%;
font-family:"Segoe UI",sans-serif;color:black"
        >
          i)
          <span style="font:7.0pt "Times New Roman""></span>
        </span>
        <span
          lang="EN-IN"
          style="font-size:10.0pt;line-height:115%;
font-family:"Segoe UI",sans-serif;color:black"
        >
          Cancellations within 24 hours of
the appointment: 100% of the fee payable for the session.
        </span>
      </p>
      <p
        class="MsoNormal"
        style="margin-top:6.0pt;margin-right:0in;margin-bottom:6.0pt;
margin-left:.75in;text-align:justify;text-indent:-.25in;line-height:115%;
text-autospace:none"
      >
        <span
          lang="EN-IN"
          style="font-size:10.0pt;line-height:115%;
font-family:"Segoe UI",sans-serif;color:black"
        >
          ii)
          <span style="font:7.0pt "Times New Roman""></span>
        </span>
        <span
          lang="EN-IN"
          style="font-size:10.0pt;line-height:115%;
font-family:"Segoe UI",sans-serif;color:black"
        >
          No‐shows
          <i>
            (missed appointment
without notification):
          </i>
          100% of the fee payable for the session.
        </span>
      </p>
      <p
        class="MsoNormal"
        style="margin-top:6.0pt;margin-right:0in;margin-bottom:6.0pt;
margin-left:.5in;text-align:justify;text-indent:-.5in;line-height:115%;
text-autospace:none"
      >
        <span
          lang="EN-IN"
          style="font-size:10.0pt;line-height:115%;
font-family:"Segoe UI",sans-serif;color:black"
        >
          4.2.
          <span style="font:7.0pt "Times New Roman""></span>
        </span>
        <span
          lang="EN-IN"
          style="font-size:10.0pt;line-height:115%;
font-family:"Segoe UI",sans-serif;color:black"
        >
          The Client may avoid a
cancellation or no‐show fee if Parties are able to reschedule within the same
week as dictated by the Counsellor schedule and availability.
        </span>
      </p>
      <p
        class="MsoNormal"
        style="margin-top:6.0pt;margin-right:0in;margin-bottom:6.0pt;
margin-left:.5in;text-align:justify;text-indent:-.5in;line-height:115%;
text-autospace:none"
      >
        <span
          lang="EN-IN"
          style="font-size:10.0pt;line-height:115%;
font-family:"Segoe UI",sans-serif;color:black"
        >
          4.3.
          <span style="font:7.0pt "Times New Roman""></span>
        </span>
        <span
          lang="EN-IN"
          style="font-size:10.0pt;line-height:115%;
font-family:"Segoe UI",sans-serif;color:black"
        >
          In case of cancellation by the Counsellor,
100% fee paid for the session shall be refunded to Client or alternatively, the
Counsellor shall adjust the fee paid towards a rescheduled session, as agreed
to between the parties.
        </span>
      </p>
      <p
        class="MsoNormal"
        style="margin-top:6.0pt;margin-right:0in;margin-bottom:6.0pt;
margin-left:.5in;text-align:justify;text-indent:-.5in;line-height:115%;
text-autospace:none"
      >
        <span
          lang="EN-IN"
          style="font-size:10.0pt;line-height:115%;
font-family:"Segoe UI",sans-serif;color:black"
        >
          4.4.
          <span style="font:7.0pt "Times New Roman""></span>
        </span>
        <span
          lang="EN-IN"
          style="font-size:10.0pt;line-height:115%;
font-family:"Segoe UI",sans-serif;color:black"
        >
          To cancel or reschedule as session
the Client shall use
        </span>
        <span
          lang="EN-IN"
          style="font-size:10.0pt;
line-height:115%;font-family:"Segoe UI",sans-serif;color:black"
        >
          their dashboard
after upon logging in
        </span>
        <span
          lang="EN-IN"
          style="font-size:10.0pt;
line-height:115%;font-family:"Segoe UI",sans-serif;color:black"
        >
          .
        </span>
      </p>
      <p
        class="Body"
        style="margin-top:6.0pt;margin-right:0in;margin-bottom:6.0pt;
margin-left:.5in;text-align:justify;text-indent:-.5in;line-height:115%"
      >
        <b>
          <span
            style="font-size:10.0pt;line-height:115%;font-family:"Segoe UI",sans-serif"
          >
            5.
            <span style="font:7.0pt "Times New Roman""></span>
          </span>
        </b>
        <b>
          <u>
            <span
              style="font-size:10.0pt;line-height:115%;
font-family:"Segoe UI",sans-serif"
            >
              Contact Outside Sessions
            </span>
          </u>
        </b>
      </p>
      <p
        class="Body"
        style="margin-top:6.0pt;margin-right:0in;margin-bottom:6.0pt;
margin-left:.5in;text-align:justify;text-indent:-.5in;line-height:115%"
      >
        <span
          style="font-size:10.0pt;line-height:115%;font-family:"Segoe UI",sans-serif"
        >
          5.1.
          <span style="font:7.0pt "Times New Roman""></span>
        </span>
        <span
          style="font-size:10.0pt;line-height:115%;font-family:"Segoe UI",sans-serif"
        >
          Post
the Initial Evaluation with the Counsellor, the Counsellor may provide the Client
with his/her direct phone number and email. Please keep in mind that email/SMS/WhatsApp
is not a secure form of communication and should not be used to discuss Counselling
issues. These should be handled directly during a session. In light of this,
please keep email/SMS/WhatsApp limited to last-minute scheduling and
administrative purposes only.
        </span>
      </p>
      <p
        class="Body"
        style="margin-top:6.0pt;margin-right:0in;margin-bottom:6.0pt;
margin-left:.5in;text-align:justify;text-indent:-.5in;line-height:115%"
      >
        <span
          style="font-size:10.0pt;line-height:115%;font-family:"Segoe UI",sans-serif"
        >
          5.2.
          <span style="font:7.0pt "Times New Roman""></span>
        </span>
        <span
          style="font-size:10.0pt;line-height:115%;font-family:"Segoe UI",sans-serif"
        >
          The
Counsellor may not be available to answer the phone when with another client. The
Client may send an SMS, and the Counsellor will make every effort to return the
call within 24 hours, with the exception of weekends and holidays.
        </span>
      </p>
      <p
        class="Body"
        style="margin-top:6.0pt;margin-right:0in;margin-bottom:6.0pt;
margin-left:.5in;text-align:justify;text-indent:-.5in;line-height:115%"
      >
        <span
          style="font-size:10.0pt;line-height:115%;font-family:"Segoe UI",sans-serif"
        >
          5.3.
          <span style="font:7.0pt "Times New Roman""></span>
        </span>
        <span
          style="font-size:10.0pt;line-height:115%;font-family:"Segoe UI",sans-serif"
        >
          The
Counsellor does not provide emergency services; however, the Counsellor shall
make all reasonable attempts to schedule a session with the Client as soon as
possible in case of a crisis.
        </span>
      </p>
      <p class="Body" style>
        <span
          style="font-size:10.0pt;line-height:115%;font-family:
"Segoe UI",sans-serif"
        >
          5.4.
          <span style="font:7.0pt "Times New Roman""></span>
        </span>
        <b>
          <u>
            <span
              style="font-size:10.0pt;line-height:115%;font-family:
"Segoe UI",sans-serif"
            >
              Emergencies
            </span>
          </u>
        </b>
        <b>
          <span
            style="font-size:
10.0pt;line-height:115%;font-family:"Segoe UI",sans-serif"
          >
            :
          </span>
        </b>
        <span
          style="font-size:10.0pt;line-height:115%;font-family:"Segoe UI",sans-serif"
        >
          The
Counsellor does not provide 24 Hour or emergency Counselling. Although the Counsellor
shall make a reasonable effort to be available to the Client if crises arise, the
Client cannot be dependent on the Counsellor to be available in emergency
situations. the Counsellor may provide the Client with contact information for
a colleague so that the Client may have interim support
          <i>
            (if necessary)
          </i>
          if the Counsellor is out of town or unavailable for an extended period of time.
        </span>
      </p>
      <p class="Body" style>
        <span
          style="font-size:10.0pt;line-height:115%;font-family:
"Segoe UI",sans-serif"
        >
          5.5.
          <span style="font:7.0pt "Times New Roman""></span>
        </span>
        <u>
          <span
            style="font-size:10.0pt;line-height:115%;font-family:
"Segoe UI",sans-serif"
          >
            If the Client
          </span>
        </u>
        <u>
          <span
            style="font-size:10.0pt;
line-height:115%;font-family:"Segoe UI",sans-serif"
          >
            s
          </span>
        </u>
        <u>
          <span
            style="font-size:10.0pt;line-height:115%;font-family:"Segoe UI",sans-serif"
          >
            are experiencing a crisis and
          </span>
        </u>
        <i>
          <u>
            <span
              style="font-size:10.0pt;
line-height:115%;font-family:"Segoe UI",sans-serif"
            >
              or considering or
contemplating suicide or feel that they are a danger to oneself or to others, The
Client undertakes to immediately, call 112,
            </span>
          </u>
        </i>
        <u>
          <span
            style="font-size:10.0pt;line-height:115%;font-family:"Segoe UI",sans-serif"
          >
            the
          </span>
        </u>
        <u>
          <span
            style="font-size:10.0pt;line-height:115%;font-family:"Segoe UI",sans-serif"
          >
            Counsellor
          </span>
        </u>
        <u>
          <span
            style="font-size:10.0pt;line-height:115%;font-family:"Segoe UI",sans-serif"
          ></span>
        </u>
        <i>
          <u>
            <span
              style="font-size:10.0pt;line-height:115%;font-family:"Segoe UI",sans-serif"
            >
              does
not deal in emergencies. If the Client feels they have a medical or mental
health emergency, they shall call or go to the nearest open hospital or clinic
or emergency services.
            </span>
          </u>
        </i>
      </p>
      <p
        class="MsoNormal"
        style="margin-top:6.0pt;margin-right:0in;margin-bottom:6.0pt;
margin-left:.5in;text-align:justify;text-indent:-.5in;line-height:115%;
text-autospace:none"
      >
        <b>
          <span
            lang="EN-IN"
            style="font-size:10.0pt;line-height:
115%;font-family:"Segoe UI",sans-serif"
          >
            6.
            <span style="font:7.0pt "Times New Roman""></span>
          </span>
        </b>
        <b>
          <u>
            <span
              lang="EN-IN"
              style="font-size:10.0pt;line-height:
115%;font-family:"Segoe UI",sans-serif;color:black"
            >
              Protected Health
Information:
            </span>
          </u>
        </b>
        <span
          lang="EN-IN"
          style="font-size:10.0pt;
line-height:115%;font-family:"Segoe UI",sans-serif;color:black"
        >
          The ethics and
standards of the Counsellor profession may require that the Counsellor keep records
about the Client.  The Client’s shall
        </span>
        <span
          lang="EN-IN"
          style="font-size:
10.0pt;line-height:115%;font-family:"Segoe UI",sans-serif"
        >
          have the right to
access their basic records
          <span style="color:black">
            and receive a copy of the
Client’s records if the Client request this in writing. However, the counsellor
          </span>
          may withhold specific information in the records if disclosure of the
same in the best judgement of the Counsellor would result in:
        </span>
      </p>
      <p
        class="MsoNormal"
        style="margin-top:6.0pt;margin-right:0in;margin-bottom:6.0pt;
margin-left:1.0in;text-align:justify;text-indent:-.5in;line-height:115%;
text-autospace:none"
      >
        <span
          lang="EN-IN"
          style="font-size:10.0pt;line-height:115%;
font-family:"Segoe UI",sans-serif;color:black"
        >
          i)
          <span style="font:7.0pt "Times New Roman""></span>
        </span>
        <span
          lang="EN-IN"
          style="font-size:10.0pt;line-height:115%;
font-family:"Segoe UI",sans-serif"
        >
          serious mental harm to the Client; or
        </span>
      </p>
      <p
        class="MsoNormal"
        style="margin-top:6.0pt;margin-right:0in;margin-bottom:6.0pt;
margin-left:1.0in;text-align:justify;text-indent:-.5in;line-height:115%;
text-autospace:none"
      >
        <span
          lang="EN-IN"
          style="font-size:10.0pt;line-height:115%;
font-family:"Segoe UI",sans-serif;color:black"
        >
          ii)
          <span style="font:7.0pt "Times New Roman""></span>
        </span>
        <span
          lang="EN-IN"
          style="font-size:10.0pt;line-height:115%;
font-family:"Segoe UI",sans-serif"
        >
          likelihood of harm to other persons.
        </span>
      </p>
      <p
        class="MsoNormal"
        style="margin-top:6.0pt;margin-right:0in;margin-bottom:6.0pt;
margin-left:.5in;text-align:justify;text-indent:-.5in;line-height:115%;
text-autospace:none"
      >
        <b>
          <span
            lang="EN-IN"
            style="font-size:10.0pt;line-height:
115%;font-family:"Segoe UI",sans-serif;color:black"
          >
            7.
            <span style="font:7.0pt "Times New Roman""></span>
          </span>
        </b>
        <b>
          <u>
            <span
              lang="EN-IN"
              style="font-size:10.0pt;line-height:
115%;font-family:"Segoe UI",sans-serif;color:black"
            >
              Confidentiality:
            </span>
          </u>
        </b>
      </p>
      <p
        class="MsoNormal"
        style="margin-top:6.0pt;margin-right:0in;margin-bottom:6.0pt;
margin-left:.5in;text-align:justify;text-indent:-.5in;line-height:115%;
text-autospace:none"
      >
        <span
          lang="EN-IN"
          style="font-size:10.0pt;line-height:115%;
font-family:"Segoe UI",sans-serif;color:black"
        >
          7.1.
          <span style="font:7.0pt "Times New Roman""></span>
        </span>
        <span
          lang="EN-IN"
          style="font-size:10.0pt;line-height:115%;
font-family:"Segoe UI",sans-serif;color:black"
        >
          The law does not always protect the
privacy of communications between a Client and a Counsellor. However, the
Counsellor follows all ethical standards prescribed under applicable law to
protect the privacy of communications between a Client and the Counsellor.
        </span>
      </p>
      <p
        class="MsoNormal"
        style="margin-top:6.0pt;margin-right:0in;margin-bottom:6.0pt;
margin-left:.5in;text-align:justify;text-indent:-.5in;line-height:115%;
text-autospace:none"
      >
        <span
          lang="EN-IN"
          style="font-size:10.0pt;line-height:115%;
font-family:"Segoe UI",sans-serif;color:black"
        >
          7.2.
          <span style="font:7.0pt "Times New Roman""></span>
        </span>
        <span
          lang="EN-IN"
          style="font-size:10.0pt;line-height:115%;
font-family:"Segoe UI",sans-serif;color:black"
        >
          As practice guidelines and
standards discussions between a Counsellor and a Client are confidential.  No
information will be released without the Client’s written consent unless
mandated by law or to the extent as provided under Section 23 of the Mental Healthcare
Act of 2017.
        </span>
      </p>
      <p
        class="MsoNormal"
        style="margin-top:6.0pt;margin-right:0in;margin-bottom:6.0pt;
margin-left:.5in;text-align:justify;text-indent:-.5in;line-height:115%;
text-autospace:none"
      >
        <span
          lang="EN-IN"
          style="font-size:10.0pt;line-height:115%;
font-family:"Segoe UI",sans-serif;color:black"
        >
          7.3.
          <span style="font:7.0pt "Times New Roman""></span>
        </span>
        <span
          lang="EN-IN"
          style="font-size:10.0pt;line-height:115%;
font-family:"Segoe UI",sans-serif;color:black"
        >
          However, the Client understands that
          <b>
            <i></i>
          </b>
          the Counsellor shall be permitted or required to release information without
the Client’s consent in situations including but not limited to the following:
        </span>
      </p>
      <p
        class="MsoNormal"
        style="margin-top:6.0pt;margin-right:0in;margin-bottom:6.0pt;
margin-left:1.0in;text-align:justify;text-indent:-.5in;line-height:115%;
text-autospace:none"
      >
        <span
          lang="EN-IN"
          style="font-size:10.0pt;line-height:115%;
font-family:"Segoe UI",sans-serif;color:black"
        >
          i)
          <span style="font:7.0pt "Times New Roman""></span>
        </span>
        <span
          lang="EN-IN"
          style="font-size:10.0pt;line-height:115%;
font-family:"Segoe UI",sans-serif;color:black"
        >
          In the event that the Counsellor
is court-ordered to disclose the Client’s information, the Counsellor is
legally obligated to do so.
        </span>
      </p>
      <p
        class="MsoNormal"
        style="margin-top:6.0pt;margin-right:0in;margin-bottom:6.0pt;
margin-left:1.0in;text-align:justify;text-indent:-.5in;line-height:115%;
text-autospace:none"
      >
        <span
          lang="EN-IN"
          style="font-size:10.0pt;line-height:115%;
font-family:"Segoe UI",sans-serif;color:black"
        >
          ii)
          <span style="font:7.0pt "Times New Roman""></span>
        </span>
        <span
          lang="EN-IN"
          style="font-size:10.0pt;line-height:115%;
font-family:"Segoe UI",sans-serif;color:black"
        >
          If a government agency requests
some information for health oversight, the Counsellor may be required to comply.
        </span>
      </p>
      <p
        class="MsoNormal"
        style="margin-top:6.0pt;margin-right:0in;margin-bottom:6.0pt;
margin-left:1.0in;text-align:justify;text-indent:-.5in;line-height:115%;
text-autospace:none"
      >
        <span
          lang="EN-IN"
          style="font-size:10.0pt;line-height:115%;
font-family:"Segoe UI",sans-serif;color:black"
        >
          iii)
          <span style="font:7.0pt "Times New Roman""></span>
        </span>
        <span
          lang="EN-IN"
          style="font-size:10.0pt;line-height:115%;
font-family:"Segoe UI",sans-serif;color:black"
        >
          If a client files a complaint
with a licensing agency or suit against the Counsellor, the Counsellor may
disclose relevant information in order to respond to the complaint.
        </span>
      </p>
      <p
        class="MsoNormal"
        style="margin-top:6.0pt;margin-right:0in;margin-bottom:6.0pt;
margin-left:1.0in;text-align:justify;text-indent:-.5in;line-height:115%;
text-autospace:none"
      >
        <span
          lang="EN-IN"
          style="font-size:10.0pt;line-height:115%;
font-family:"Segoe UI",sans-serif;color:black"
        >
          iv)
          <span style="font:7.0pt "Times New Roman""></span>
        </span>
        <span
          lang="EN-IN"
          style="font-size:10.0pt;line-height:115%;
font-family:"Segoe UI",sans-serif;color:black"
        >
          If the Client threaten to harm
either oneself (e.g., suicide threats) or someone else, and the Counsellor believe
the Client’s threat to be imminent, the Counsellor may be required by law to
take whatever actions seem necessary to protect the Client and/or others from
harm. This may include disclosing confidential information to the police, the
potential victim, and appropriate authorities.
        </span>
      </p>
      <p
        class="MsoNormal"
        style="margin-top:6.0pt;margin-right:0in;margin-bottom:6.0pt;
margin-left:1.0in;text-align:justify;text-indent:-.5in;line-height:115%;
text-autospace:none"
      >
        <span
          lang="EN-IN"
          style="font-size:10.0pt;line-height:115%;
font-family:"Segoe UI",sans-serif;color:black"
        >
          v)
          <span style="font:7.0pt "Times New Roman""></span>
        </span>
        <span
          lang="EN-IN"
          style="font-size:10.0pt;line-height:115%;
font-family:"Segoe UI",sans-serif;color:black"
        >
          If Counselling involves others
close to the Client such as the Client’s parents, spouse, or child(ren), then the
Counsellor will strive to clarify the Counsellor role in relation to each
person. In most cases, there is only one identified Client and the Counsellor
responsibilities are first and foremost to that person. There are exceptions,
such as when the Counsellor is providing couples or family Counselling to more
than one person.
        </span>
      </p>
      <p
        class="MsoNormal"
        style="margin-top:6.0pt;margin-right:0in;margin-bottom:6.0pt;
margin-left:1.0in;text-align:justify;text-indent:-.5in;line-height:115%;
text-autospace:none"
      >
        <span
          lang="EN-IN"
          style="font-size:10.0pt;line-height:115%;
font-family:"Segoe UI",sans-serif;color:black"
        >
          vi)
          <span style="font:7.0pt "Times New Roman""></span>
        </span>
        <span
          lang="EN-IN"
          style="font-size:10.0pt;line-height:115%;
font-family:"Segoe UI",sans-serif"
        >
          If the release of information is in the interests
of public safety and security
        </span>
      </p>
      <p
        class="MsoNormal"
        style="margin-top:6.0pt;margin-right:0in;margin-bottom:6.0pt;
margin-left:.5in;text-align:justify;text-indent:-.5in;line-height:115%;
text-autospace:none"
      >
        <span
          lang="EN-IN"
          style="font-size:10.0pt;line-height:115%;
font-family:"Segoe UI",sans-serif;color:black"
        >
          7.4.
          <span style="font:7.0pt "Times New Roman""></span>
        </span>
        <u>
          <span
            lang="EN-IN"
            style="font-size:10.0pt;line-height:115%;
font-family:"Segoe UI",sans-serif;color:black"
          >
            Minors and Nominated
Representatives
          </span>
        </u>
        <b>
          <span
            lang="EN-IN"
            style="font-size:10.0pt;
line-height:115%;font-family:"Segoe UI",sans-serif;color:black"
          >
            :
          </span>
        </b>
        <span
          lang="EN-IN"
          style="font-size:10.0pt;line-height:115%;font-family:"Segoe UI",sans-serif;
color:black"
        >
          The law allows parents, legal guardians or Nominated Representatives
(as deified in the Mental Healthcare Act 2017) to examine their child’s medical
record and other Counselling notes.
        </span>
      </p>
      <p
        class="MsoNormal"
        style="margin-top:6.0pt;margin-right:0in;margin-bottom:6.0pt;
margin-left:.5in;text-align:justify;text-indent:-.5in;line-height:115%;
text-autospace:none"
      >
        <span
          lang="EN-IN"
          style="font-size:10.0pt;line-height:115%;
font-family:"Segoe UI",sans-serif;color:black"
        >
          7.5.
          <span style="font:7.0pt "Times New Roman""></span>
        </span>
        <u>
          <span
            lang="EN-IN"
            style="font-size:10.0pt;line-height:115%;
font-family:"Segoe UI",sans-serif;color:black"
          >
            Duty To Warn/Duty to Protect
          </span>
        </u>
        <span
          lang="EN-IN"
          style="font-size:10.0pt;line-height:115%;font-family:"Segoe UI",sans-serif;
color:black"
        >
          :  The Client understands and covenants that if the Counsellor believes
that the Client (or my child if child is the client) is in any physical or
emotional danger to oneself or another human being, the Client hereby specifically
gives consent to the Counsellor to contact the any person who is in a position
to prevent harm to the Client or another, including, but not limited to, the
person in danger.  The Client also gives consent to the Consoler to contact any
medical or law enforcement personnel deemed appropriate.
        </span>
      </p>
      <p
        class="MsoNormal"
        style="margin-top:6.0pt;margin-right:0in;margin-bottom:6.0pt;
margin-left:0in;text-align:justify;line-height:115%;text-autospace:none"
      >
        <span
          lang="EN-IN"
          style="font-size:10.0pt;line-height:115%;font-family:"Segoe UI",sans-serif;
color:black"
        >
          Acceptance of this document represents an agreement between the
Parties. The Client may revoke this agreement in writing at any time, which
invalidates from that point forward (not retroactively). Acceptance of this
agreement signifies that the Client has read the information in this document
and agree to the terms stated above, and hereby give their informed consent to
start psychological counselling
        </span>
      </p>
      <span
        lang="EN-IN"
        style="font-size:10.0pt;line-height:115%;font-family:"Segoe UI",sans-serif;
color:black"
      >
        <br clear="all" style="page-break-before:always" />
      </span>
      <p
        class="MsoNormal"
        align="center"
        style="margin-top:6.0pt;margin-right:0in;
margin-bottom:6.0pt;margin-left:0in;text-align:center;line-height:115%"
      >
        <b>
          <span
            lang="EN-IN"
            style="font-size:10.0pt;line-height:115%;font-family:"Segoe UI",sans-serif;
color:black"
          >
            Schedule-A
          </span>
        </b>
      </p>
      <p
        class="MsoNormal"
        style="margin-top:6.0pt;text-align:justify;line-height:115%"
      >
        <b>
          <u>
            <span
              lang="EN-IN"
              style="font-size:10.0pt;line-height:115%;font-family:"Segoe UI",sans-serif"
            >
              Informed
Consent for
            </span>
          </u>
        </b>
        <b>
          <u>
            <span
              lang="DE"
              style="font-size:10.0pt;
line-height:115%;font-family:"Segoe UI",sans-serif"
            >
              Tele Psychological Counselling
            </span>
          </u>
        </b>
      </p>
      <p
        class="Body"
        style="margin-top:6.0pt;text-align:justify;line-height:115%"
      >
        <span
          style="font-size:10.0pt;line-height:115%;font-family:"Segoe UI",sans-serif"
        >
          This
Informed Consent for Tele Counselling contains important information focusing
on doing psychological counselling using the phone or the Internet.
        </span>
      </p>
      <p
        class="Body"
        style="margin-top:6.0pt;margin-right:0in;margin-bottom:0in;
margin-left:.5in;margin-bottom:.0001pt;text-align:justify;text-indent:-.5in;
line-height:115%"
      >
        <b>
          <span
            style="font-size:10.0pt;line-height:115%;font-family:
"Segoe UI",sans-serif"
          >
            1.
            <span style="font:7.0pt "Times New Roman""></span>
          </span>
        </b>
        <b>
          <u>
            <span
              lang="DE"
              style="font-size:10.0pt;line-height:115%;
font-family:"Segoe UI",sans-serif"
            >
              TELE PSYCHOLOGICAL COUNSELLING
            </span>
          </u>
        </b>
        <b>
          <span
            lang="DE"
            style="font-size:10.0pt;line-height:115%;font-family:"Segoe UI",sans-serif"
          ></span>
        </b>
      </p>
      <p
        class="Body"
        style="margin-top:6.0pt;margin-right:0in;margin-bottom:0in;
margin-left:.5in;margin-bottom:.0001pt;text-align:justify;text-indent:-.5in;
line-height:115%"
      >
        <span
          style="font-size:10.0pt;line-height:115%;font-family:
"Segoe UI",sans-serif"
        >
          1.1
          <span style="font:7.0pt "Times New Roman""></span>
        </span>
        <u>
          <span
            style="font-size:10.0pt;line-height:115%;font-family:
"Segoe UI",sans-serif"
          >
            Description of Tele Counselling
          </span>
        </u>
        <span
          style="font-size:10.0pt;line-height:115%;font-family:"Segoe UI",sans-serif"
        >
          : Tele
Counselling refers to providing psychological counselling remotely using
telecommunications technologies, such as video conferencing or telephone.
        </span>
      </p>
      <p
        class="Body"
        style="margin-top:6.0pt;margin-right:0in;margin-bottom:0in;
margin-left:.5in;margin-bottom:.0001pt;text-align:justify;text-indent:-.5in;
line-height:115%"
      >
        <span
          style="font-size:10.0pt;line-height:115%;font-family:
"Segoe UI",sans-serif"
        >
          1.2
          <span style="font:7.0pt "Times New Roman""></span>
        </span>
        <u>
          <span
            style="font-size:10.0pt;line-height:115%;font-family:
"Segoe UI",sans-serif"
          >
            Benefits
          </span>
        </u>
        <span
          style="font-size:10.0pt;
line-height:115%;font-family:"Segoe UI",sans-serif"
        >
          : One of the benefits of Tele
Counselling is that the Client and the Counsellor can engage in Counselling without
being in the same physical location. This can be helpful in ensuring continuity
of care if the Client or Counsellor moves to a different location, takes an
extended vacation, or is otherwise unable to meet in person. It is also more
convenient and takes less time. Tele Counselling, however, requires technical
competence on both of the parties to be helpful.
        </span>
      </p>
      <p
        class="Body"
        style="margin-top:6.0pt;margin-right:0in;margin-bottom:0in;
margin-left:.5in;margin-bottom:.0001pt;text-align:justify;text-indent:-.5in;
line-height:115%"
      >
        <span
          style="font-size:10.0pt;line-height:115%;font-family:
"Segoe UI",sans-serif"
        >
          1.3
          <span style="font:7.0pt "Times New Roman""></span>
        </span>
        <u>
          <span
            style="font-size:10.0pt;line-height:115%;font-family:
"Segoe UI",sans-serif"
          >
            Risks to confidentiality
          </span>
        </u>
        <span
          style="font-size:10.0pt;line-height:115%;font-family:"Segoe UI",sans-serif"
        >
          :
Because Tele Counselling sessions take place outside of the Counsellor’s
private office, there is potential for other people to overhear sessions
        </span>
      </p>
      <p
        class="Body"
        style="margin-top:6.0pt;margin-right:0in;margin-bottom:0in;
margin-left:.5in;margin-bottom:.0001pt;text-align:justify;text-indent:-.5in;
line-height:115%"
      >
        <span
          style="font-size:10.0pt;line-height:115%;font-family:
"Segoe UI",sans-serif"
        >
          1.4
          <span style="font:7.0pt "Times New Roman""></span>
        </span>
        <u>
          <span
            style="font-size:10.0pt;line-height:115%;font-family:
"Segoe UI",sans-serif"
          >
            Issues related to technology:
          </span>
        </u>
        <span
          style="font-size:10.0pt;line-height:115%;font-family:"Segoe UI",sans-serif"
        >
          There
are many ways that technology issues might impact Tele Counselling.  For
example, technology may stop working during a session, other people might be
able to get access to our private conversation, or stored data could be
accessed by unauthorized people or companies.
        </span>
      </p>
      <p
        class="Body"
        style="margin-top:6.0pt;margin-right:0in;margin-bottom:0in;
margin-left:.5in;margin-bottom:.0001pt;text-align:justify;text-indent:-.5in;
line-height:115%"
      >
        <span
          style="font-size:10.0pt;line-height:115%;font-family:
"Segoe UI",sans-serif"
        >
          1.5
          <span style="font:7.0pt "Times New Roman""></span>
        </span>
        <u>
          <span
            style="font-size:10.0pt;line-height:115%;font-family:
"Segoe UI",sans-serif"
          >
            Crisis management and intervention:
          </span>
        </u>
        <span
          style="font-size:10.0pt;line-height:115%;font-family:"Segoe UI",sans-serif"
        >
          The
Counsellor shall be at liberty to refuse to engage in Tele Counselling with Clients
who in the judgement of the Counsellor are currently in a crisis situation
requiring high levels of support and intervention.
        </span>
      </p>
      <p
        class="Body"
        style="margin-top:6.0pt;margin-right:0in;margin-bottom:0in;
margin-left:.5in;margin-bottom:.0001pt;text-align:justify;text-indent:-.5in;
line-height:115%"
      >
        <span
          style="font-size:10.0pt;line-height:115%;font-family:
"Segoe UI",sans-serif"
        >
          1.6
          <span style="font:7.0pt "Times New Roman""></span>
        </span>
        <u>
          <span
            style="font-size:10.0pt;line-height:115%;font-family:
"Segoe UI",sans-serif"
          >
            Efficacy:
          </span>
        </u>
        <span
          style="font-size:10.0pt;
line-height:115%;font-family:"Segoe UI",sans-serif"
        >
          The parties agree to and
understand that Tele Counselling may not be as effective as in-person psychological
counselling. The Client understands not being in the same room restricts the Counsellor’s
ability to fully understand non-verbal information when working remotely.
        </span>
      </p>
      <p
        class="Body"
        style="margin-top:6.0pt;margin-right:0in;margin-bottom:0in;
margin-left:.5in;margin-bottom:.0001pt;text-align:justify;text-indent:-.5in;
line-height:115%"
      >
        <b>
          <span
            style="font-size:10.0pt;line-height:115%;font-family:
"Segoe UI",sans-serif"
          >
            2.
            <span style="font:7.0pt "Times New Roman""></span>
          </span>
        </b>
        <b>
          <span
            style="font-size:10.0pt;line-height:115%;font-family:
"Segoe UI",sans-serif"
          >
            Electronic Communications:
          </span>
        </b>
        <span
          style="font-size:10.0pt;line-height:115%;font-family:"Segoe UI",sans-serif"
        >
          The
parties shall mutually agree to and decide on the mode of the Tele Counselling to
use, which may require to have certain computer or cell phone systems to use Tele
Counselling.  Each Party shall be solely responsible for any cost to you to
obtain any necessary equipment, accessories, or software to take part in Tele Counselling.
        </span>
      </p>
      <p
        class="Body"
        style="margin-top:6.0pt;margin-right:0in;margin-bottom:0in;
margin-left:.5in;margin-bottom:.0001pt;text-align:justify;text-indent:-.5in;
line-height:115%"
      >
        <b>
          <span
            style="font-size:10.0pt;line-height:115%;font-family:
"Segoe UI",sans-serif"
          >
            3.
            <span style="font:7.0pt "Times New Roman""></span>
          </span>
        </b>
        <b>
          <span
            style="font-size:10.0pt;line-height:115%;font-family:
"Segoe UI",sans-serif"
          >
            Appropriateness of Tele Counselling:
          </span>
        </b>
        <span
          style="font-size:10.0pt;line-height:115%;font-family:"Segoe UI",sans-serif"
        >
          From
time to time, the parties may schedule in-person sessions with one another. The
Counsellor shall inform the Client if the Counsellor is of the opinion that Tele
Counselling is no longer the most appropriate form of Counselling for the Client.
In such a scenario the parties may engage in in-person counselling or the Counsellor
may refer the Client to another professional.
        </span>
      </p>
      <p
        class="Body"
        style="margin-top:6.0pt;margin-right:0in;margin-bottom:0in;
margin-left:.5in;margin-bottom:.0001pt;text-align:justify;text-indent:-.5in;
line-height:115%"
      >
        <b>
          <span
            style="font-size:10.0pt;line-height:115%;font-family:
"Segoe UI",sans-serif"
          >
            4.
            <span style="font:7.0pt "Times New Roman""></span>
          </span>
        </b>
        <b>
          <u>
            <span
              style="font-size:10.0pt;line-height:115%;
font-family:"Segoe UI",sans-serif"
            >
              Emergencies and Technology
            </span>
          </u>
        </b>
      </p>
      <p
        class="Body"
        style="margin-top:6.0pt;margin-right:0in;margin-bottom:0in;
margin-left:.5in;margin-bottom:.0001pt;text-align:justify;text-indent:-.5in;
line-height:115%"
      >
        <span
          style="font-size:10.0pt;line-height:115%;font-family:
"Segoe UI",sans-serif"
        >
          4.1
          <span style="font:7.0pt "Times New Roman""></span>
        </span>
        <span
          style="font-size:10.0pt;line-height:115%;font-family:"Segoe UI",sans-serif"
        >
          If
the session is interrupted for any reason, such as the technological connection
fails, and the Client is having an emergency, do not call back the Counsellor back;
instead, call 112, or go to your nearest emergency room. The Parties shall reconnect
after the Client has called or obtained emergency services.
        </span>
      </p>
      <p
        class="Body"
        style="margin-top:6.0pt;margin-right:0in;margin-bottom:0in;
margin-left:.5in;margin-bottom:.0001pt;text-align:justify;text-indent:-.5in;
line-height:115%"
      >
        <span
          style="font-size:10.0pt;line-height:115%;font-family:
"Segoe UI",sans-serif"
        >
          4.2
          <span style="font:7.0pt "Times New Roman""></span>
        </span>
        <span
          style="font-size:10.0pt;line-height:115%;font-family:"Segoe UI",sans-serif"
        >
          If
there is a technological failure and the Parties are unable to resume the
connection, the Client will only be charged the prorated amount of actual
session time.
        </span>
      </p>
      <p
        class="Body"
        style="margin-top:6.0pt;margin-right:0in;margin-bottom:0in;
margin-left:.5in;margin-bottom:.0001pt;text-align:justify;text-indent:-.5in;
line-height:115%"
      >
        <b>
          <span
            style="font-size:10.0pt;line-height:115%;font-family:
"Segoe UI",sans-serif"
          >
            5.
            <span style="font:7.0pt "Times New Roman""></span>
          </span>
        </b>
        <b>
          <u>
            <span
              style="font-size:10.0pt;line-height:115%;
font-family:"Segoe UI",sans-serif"
            >
              Records:
            </span>
          </u>
        </b>
        <b>
          <span
            style="font-size:10.0pt;line-height:115%;font-family:"Segoe UI",sans-serif"
          ></span>
        </b>
        <span
          style="font-size:10.0pt;line-height:115%;font-family:"Segoe UI",sans-serif"
        >
          The
Client understands that The Tele Counselling sessions may be recorded by the Counsellor
to maintain records.
        </span>
      </p>
      <p
        class="Body"
        style="margin-top:6.0pt;text-align:justify;line-height:115%"
      >
        <span
          style="font-size:10.0pt;line-height:115%;font-family:"Segoe UI",sans-serif"
        ></span>
      </p>
      <p
        class="Body"
        style="margin-top:6.0pt;text-align:justify;line-height:115%"
      >
        <b>
          <span
            style="font-size:10.0pt;line-height:115%;font-family:"Segoe UI",sans-serif"
          ></span>
        </b>
      </p>
    </div>
  </body>
</html>